/*error*/
/*success*/
/*info*/
/*warning*/
/*default*/
/*@default-color-active:rgba(57, 154, 84, 0.87) !important;*/
/*@default-color:#F5F5F5!important;
@default-color-hover:#B3B3B3!important;
@default-color-active:#C17623!important;
@default-background-color: #3C3C3C!important;
@default-background-color-hover: #3C3C3C !important;
@default-background-color-active: #1C1C1C!important;
@default-border-color: #8E8E8E !important;
@default-border-color-hover: #8E8E8E !important;
@default-border-color-active: @default-border-color;
@default-border-width: 1px;
@default-border-radius: 1px;*/
body {
  font-size: 1.4em;
  background: #232323 !important;
  /*buttons*/
  /*buttons end*/
  /*breadcrumb*/
  /*breadcrumb end*/
  /*menu*/
  /*footer*/
  /*footer end*/
  /*menu end*/
  /*progrss begin*/
  /*progrss end*/
  /*forms*/
  /*forms end*/
  /*alert*/
  /*alert end*/
  /*panel begin*/
  /*panel end*/
  /*text*/
  /*text end*/
  /*modals*/
  /*modals end*/
  /*thumbnail begin*/
  /*thumbnail end*/
  /*app custom begin :************************************************************************************************************************************/
  /*app custom end :*/
}
body * {
  font-weight: 400!important;
  color: #232323 !important;
}
body hr {
  border-color: #cdcdcd !important;
  border-width: 1px;
}
body .wrap {
  padding-top: 71px;
  padding-bottom: 50px;
  /*background-image: url(/public/img/bg.jpg);*/
  background: #fff !important;
}
body h1 {
  font-size: 1.5em;
}
body .btn {
  background: #fff !important;
  font-weight: 100;
  padding: 0.6em 2.5em;
  font-size: 1em;
  line-height: 1.3333333;
  opacity: 0.8;
  border-width: 1px;
  border-color: #cdcdcd !important;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body .btn:hover {
  opacity: 1;
  background-color: #FDFDFD !important;
}
body .btn:active,
body .btn.active {
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) !important;
  box-shadow: rgba(0, 0, 0, 0.1) !important;
  background: #FBFBFB!important;
}
body .btn.btn-primary,
body .btn.btn-info {
  color: #0A0A0A !important;
  border-color: #4BBBF3 !important;
}
body .btn.btn-primary:hover,
body .btn.btn-info:hover,
body .btn.btn-primary:focus,
body .btn.btn-info:focus,
body .btn.btn-primary .open > .dropdown-toggle.btn-primary:hover,
body .btn.btn-info .open > .dropdown-toggle.btn-primary:hover,
body .btn.btn-primary:hover,
body .btn.btn-info:hover,
body .btn.btn-primary .open > .dropdown-toggle.btn-info:hover,
body .btn.btn-info .open > .dropdown-toggle.btn-info:hover {
  background: #FDFDFD !important;
}
body .btn.btn-primary:active,
body .btn.btn-info:active,
body .btn.btn-primary.active,
body .btn.btn-info.active,
body .btn.btn-primary.active:active,
body .btn.btn-info.active:active,
body .btn.btn-primary .open > .dropdown-toggle.btn-primary:active,
body .btn.btn-info .open > .dropdown-toggle.btn-primary:active,
body .btn.btn-primary:active,
body .btn.btn-info:active,
body .btn.btn-primary.active,
body .btn.btn-info.active,
body .btn.btn-primary.active:active,
body .btn.btn-info.active:active,
body .btn.btn-primary .open > .dropdown-toggle.btn-info:active,
body .btn.btn-info .open > .dropdown-toggle.btn-info:active {
  background: #FCFEFF !important;
}
body .btn.btn-success {
  color: #3c763d !important;
  border-color: #B1DA8C !important;
}
body .btn.btn-success:hover,
body .btn.btn-success:focus,
body .btn.btn-success .open > .dropdown-toggle.btn-success:hover {
  background: #FDFDFD !important;
}
body .btn.btn-success:active,
body .btn.btn-success.active,
body .btn.btn-success.active:active,
body .btn.btn-success .open > .dropdown-toggle.btn-success:active {
  background: #FBFFFA !important;
}
body .btn.btn-warning {
  color: #AB7E00 !important;
  border-color: #e2a700 !important;
}
body .btn.btn-warning:hover,
body .btn.btn-warning:focus,
body .btn.btn-warning .open > .dropdown-toggle.btn-warning:hover {
  background: #FDFDFD !important;
}
body .btn.btn-warning:active,
body .btn.btn-warning.active,
body .btn.btn-warning.active:active,
body .btn.btn-warning .open > .dropdown-toggle.btn-warning:active {
  background: #FFFEFA !important;
}
body .btn.btn-danger,
body .btn.btn-error {
  color: #C30C08 !important;
  border-color: #FF98AA !important;
}
body .btn.btn-danger:hover,
body .btn.btn-error:hover,
body .btn.btn-danger:focus,
body .btn.btn-error:focus,
body .btn.btn-danger .open > .dropdown-toggle.btn-danger:hover,
body .btn.btn-error .open > .dropdown-toggle.btn-danger:hover,
body .btn.btn-danger:hover,
body .btn.btn-error:hover,
body .btn.btn-danger .open > .dropdown-toggle.btn-error:hover,
body .btn.btn-error .open > .dropdown-toggle.btn-error:hover {
  background: #FDFDFD !important;
}
body .btn.btn-danger:active,
body .btn.btn-error:active,
body .btn.btn-danger.active,
body .btn.btn-error.active,
body .btn.btn-danger.active:active,
body .btn.btn-error.active:active,
body .btn.btn-danger .open > .dropdown-toggle.btn-danger:active,
body .btn.btn-error .open > .dropdown-toggle.btn-danger:active,
body .btn.btn-danger:active,
body .btn.btn-error:active,
body .btn.btn-danger.active,
body .btn.btn-error.active,
body .btn.btn-danger.active:active,
body .btn.btn-error.active:active,
body .btn.btn-danger .open > .dropdown-toggle.btn-error:active,
body .btn.btn-error .open > .dropdown-toggle.btn-error:active {
  background: #FFFBFB !important;
}
body .btn.disabled {
  color: #CCCCCC!important;
}
body .btn.btn-default {
  color: #232323 !important;
  border-color: #cdcdcd !important;
}
body .btn.btn-default:hover,
body .btn.btn-default:focus,
body .btn.btn-default .open > .dropdown-toggle.btn-default:hover,
body .btn.btn-default:hover,
body .btn.btn-default .open > .dropdown-toggle.btn-default:hover {
  background: #FDFDFD !important;
}
body .btn.btn-default:active,
body .btn.btn-default.active,
body .btn.btn-default.active:active,
body .btn.btn-default .open > .dropdown-toggle.btn-default:active,
body .btn.btn-default:active,
body .btn.btn-default.active,
body .btn.btn-default.active:active,
body .btn.btn-default .open > .dropdown-toggle.btn-default:active {
  background: #FFFEFA !important;
  color: #D48E41 !important;
}
body .input-group .btn {
  background-color: #fff !important;
}
body .input-group .btn:active {
  background-color: #FFFEFA !important;
}
body .input-group .btn {
  border-right-color: transparent;
  border-width: 1px;
  padding: 0.5em 1em;
}
body .breadcrumb {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
}
body .breadcrumb a {
  color: #232323 !important;
}
body .breadcrumb .active {
  color: #D48E41 !important;
}
body .navbar.main-top-nav {
  margin-bottom: 0;
  opacity: 0.97;
  /*background: rgba(255, 255, 255, 0.97)!important;*/
  background: #232323 !important;
  border-color: #cdcdcd !important;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
}
body .navbar.main-top-nav .navbar-brand:focus,
body .navbar.main-top-nav .navbar-brand:active,
body .navbar.main-top-nav .navbar-brand:hover,
body .navbar.main-top-nav .navbar-brand {
  color: #fff !important;
  padding: 25px 15px;
  font-size: 1.5em;
}
body .navbar.main-top-nav .navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
}
body .navbar.main-top-nav .nav > li > a .fa {
  font-size: 1.1em!important;
}
body .navbar.main-top-nav .nav > li > ul {
  border-top: 0;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body .navbar.main-top-nav .navbar-toggle .icon-bar {
  color: #D48E41 !important;
  border-color: #cdcdcd !important;
  background-color: #D48E41 !important;
}
@media (min-width: 768px) {
  body .navbar.main-top-nav .collapse > ul > li > a {
    padding: 25px 15px;
    text-align: inherit;
  }
}
body .navbar.main-top-nav .dropdown .dropdown-toggle .caret {
  color: #fff !important;
}
body .navbar.main-top-nav .dropdown .dropdown-menu {
  right: auto;
  background: #232323 !important;
}
body .navbar.main-top-nav .dropdown .dropdown-menu a {
  text-align: left!important;
  font-size: 0.9em!important;
}
body .navbar.main-top-nav .dropdown.open .dropdown-toggle {
  background: #D48E41 !important;
}
body .navbar.main-top-nav .dropdown.open .dropdown-menu {
  background: #D48E41 !important;
}
body .navbar.main-top-nav .navbar-collapse > ul > li :active,
body .navbar.main-top-nav .navbar-collapse > ul > li li:visited,
body .navbar.main-top-nav .navbar-collapse > ul > li li:focus,
body .navbar.main-top-nav .navbar-collapse > ul > li li:hover {
  background: transparent;
}
body .navbar.main-top-nav .navbar-collapse > ul li > a,
body .navbar.main-top-nav .navbar-collapse > ul li > a:visited,
body .navbar.main-top-nav .navbar-collapse > ul li > a:focus,
body .navbar.main-top-nav .navbar-collapse > ul li > a:hover,
body .navbar.main-top-nav .navbar-collapse > ul li > a .fa,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a:hover,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a {
  color: #fff !important;
  background-color: transparent!important;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
}
body .navbar.main-top-nav .navbar-collapse > ul li.active > a:active,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a:focus,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a:hover,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a .fa:focus,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a .fa:hover,
body .navbar.main-top-nav .navbar-collapse > ul li.active > a .fa {
  color: #D48E41 !important;
}
body .navbar.main-top-nav .navbar-toggle {
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  border-color: #cdcdcd !important;
}
body .navbar.main-top-nav .navbar-toggle:hover,
body .navbar.main-top-nav .navbar-toggle:focus,
body .navbar.main-top-nav .navbar-toggle:visited,
body .navbar.main-top-nav .navbar-toggle:active {
  background-color: transparent;
}
body .navbar.main-top-nav .navbar-toggle .icon-bar {
  background-color: #D48E41 !important;
}
body .navbar.main-top-nav .navbar-toggle.collapsed .icon-bar {
  background-color: #232323 !important;
}
body .navbar.main-top-nav form .btn {
  color: #fff !important;
  background: #232323 !important;
  border-color: #cdcdcd !important;
}
body .navbar.main-top-nav form .btn .fa {
  color: #fff !important;
}
body .navbar.main-top-nav form .form-control {
  background: #232323 !important;
  color: #fff !important;
  border-color: #cdcdcd !important;
}
body .footer a,
body .footer .fa {
  font-size: 1.2em;
  color: #fff !important;
}
body .footer a:active,
body .footer .fa:active,
body .footer a:focus,
body .footer .fa:focus,
body .footer a:hover,
body .footer .fa:hover {
  background: transparent;
  color: #000 !important;
}
body .footer .active a {
  color: #D48E41 !important;
}
body .progress {
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body .progress .progress-bar {
  border: 1px solid;
}
body .progress .progress-bar-success {
  /*background-color: @success-background-color;*/
  border-color: #B1DA8C !important;
  color: #3c763d !important;
}
body .progress .progress-bar-danger {
  /*background-color: @error-background-color;*/
  border-color: #FF98AA !important;
  color: #C30C08 !important;
}
body .progress .progress-bar-warning {
  /*background-color: @warning-background-color;*/
  border-color: #e2a700 !important;
  color: #AB7E00 !important;
}
body .progress .progress-bar-info {
  /*background-color: @info-background-color;*/
  border-color: #4BBBF3 !important;
  color: #0A0A0A !important;
}
body .progress.front-page-loadings-progress {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
}
body form .form-control,
body table .form-control {
  border-width: 1px;
  height: auto;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.3333333;
  color: #232323 !important;
  border-color: #cdcdcd !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  background-color: #fff !important;
}
body form .form-control:focus,
body table .form-control:focus {
  color: #232323 !important;
  background-color: #FFFEFA !important;
  border-color: #D48E41 !important;
}
body form textarea,
body table textarea {
  height: auto!important;
}
body form .has-success .form-control,
body table .has-success .form-control {
  border-color: #B1DA8C !important;
}
body form .has-success .help-block,
body table .has-success .help-block {
  color: #3c763d !important;
}
body form .has-error .form-control,
body table .has-error .form-control {
  border-color: #FF98AA !important;
}
body form .has-error .help-block,
body table .has-error .help-block {
  color: #C30C08 !important;
}
body form .file-input .file-upload-indicator,
body table .file-input .file-upload-indicator {
  width: 0;
  padding-top: 11px;
}
body form .file-input .file-drop-zone,
body table .file-input .file-drop-zone {
  margin: 20px;
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
body form .file-input .file-drop-zone .file-drop-zone-title,
body table .file-input .file-drop-zone .file-drop-zone-title {
  color: #232323 !important;
}
body form .file-input .file-drop-zone .file-footer-buttons,
body table .file-input .file-drop-zone .file-footer-buttons {
  margin-top: 2px;
}
body form .file-input .file-drop-zone .file-footer-buttons .btn,
body table .file-input .file-drop-zone .file-footer-buttons .btn {
  padding: 5px 25px;
  border-width: 1px;
}
body form .file-input .file-drop-zone .file-thumb-progress .progress-bar,
body table .file-input .file-drop-zone .file-thumb-progress .progress-bar {
  height: 12px;
}
body form .file-input .progress,
body table .file-input .progress {
  margin-bottom: 2px;
}
body form .file-input .input-group .form-control,
body table .file-input .input-group .form-control {
  border-color: #cdcdcd !important;
}
body form .file-input .input-group .btn,
body table .file-input .input-group .btn {
  border-width: 1px;
}
body form .file-input .kv-upload-progress,
body table .file-input .kv-upload-progress {
  width: 99.97%;
}
body form .file-input .file-preview,
body table .file-input .file-preview {
  position: relative;
  border: 1px solid;
  padding: 2px;
  width: 99.97%;
  border-color: #cdcdcd !important;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body form .file-input .file-preview .close,
body table .file-input .file-preview .close {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: #C30C08 !important;
}
body form .file-input .file-preview .file-preview-frame,
body table .file-input .file-preview .file-preview-frame {
  min-width: 195px;
  border-color: #cdcdcd !important;
  -moz-box-shadow: 0 1px 1px rgba(226, 226, 226, 0.75) !important;
  -webkit-box-shadow: 0 1px 1px rgba(226, 226, 226, 0.75) !important;
  box-shadow: 0 1px 1px rgba(226, 226, 226, 0.75) !important;
}
body form .file-input .file-preview .file-preview-frame:focus,
body table .file-input .file-preview .file-preview-frame:focus,
body form .file-input .file-preview .file-preview-frame:active,
body table .file-input .file-preview .file-preview-frame:active,
body form .file-input .file-preview .file-preview-frame:hover,
body table .file-input .file-preview .file-preview-frame:hover {
  -moz-box-shadow: 0 1px 1px rgba(226, 226, 226, 0.75) !important;
  -webkit-box-shadow: 0 1px 1px rgba(226, 226, 226, 0.75) !important;
  box-shadow: 0 1px 1px rgba(226, 226, 226, 0.75) !important;
}
body form .file-input .file-preview .file-preview-frame .file-preview-image,
body table .file-input .file-preview .file-preview-frame .file-preview-image,
body form .file-input .file-preview .file-preview-frame .file-preview-other,
body table .file-input .file-preview .file-preview-frame .file-preview-other {
  border: none;
}
body form .file-input .fileinput-remove-button,
body table .file-input .fileinput-remove-button {
  color: #C30C08 !important;
  border-color: #cdcdcd !important;
}
body form .file-input .fileinput-remove-button:focus,
body table .file-input .fileinput-remove-button:focus,
body form .file-input .fileinput-remove-button:hover,
body table .file-input .fileinput-remove-button:hover {
  color: #C30C08 !important;
}
body form .file-input .fileinput-remove-button.active,
body table .file-input .fileinput-remove-button.active,
body form .file-input .fileinput-remove-button:active,
body table .file-input .fileinput-remove-button:active {
  color: #C30C08 !important;
}
body form .file-input .glyphicon.glyphicon-folder-open,
body table .file-input .glyphicon.glyphicon-folder-open {
  margin-right: 4px;
}
body .alert {
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body .alert.alert-error,
body .alert.alert-danger {
  color: #C30C08 !important;
  background-color: #FFFBFB !important;
  border-color: #FF98AA !important;
}
body .alert.alert-success {
  color: #3c763d !important;
  background-color: #FBFFFA !important;
  border-color: #B1DA8C !important;
}
body .alert.alert-info {
  color: #0A0A0A !important;
  background-color: #FCFEFF !important;
  border-color: #4BBBF3 !important;
}
body .alert.alert-warning {
  color: #AB7E00 !important;
  background-color: #FFFEFA !important;
  border-color: #e2a700 !important;
}
body .panel {
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body .panel.panel-info {
  border-color: #4BBBF3 !important;
}
body .panel.panel-info .panel-heading {
  background-color: #FCFEFF !important;
  border-color: #4BBBF3 !important;
  color: #0A0A0A !important;
}
body .panel.panel-success {
  border-color: #B1DA8C !important;
}
body .panel.panel-success .panel-heading {
  background-color: #FBFFFA !important;
  border-color: #B1DA8C !important;
  color: #3c763d !important;
}
body .panel.panel-warning {
  border-color: #e2a700 !important;
}
body .panel.panel-warning .panel-heading {
  background-color: #FFFEFA !important;
  border-color: #e2a700 !important;
  color: #AB7E00 !important;
}
body .panel.panel-danger {
  border-color: #FF98AA !important;
}
body .panel.panel-danger .panel-heading {
  background-color: #FFFBFB !important;
  border-color: #FF98AA !important;
  color: #C30C08 !important;
}
body .panel .panel-heading {
  padding: 1em;
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body .panel .panel-body {
  padding: 1em;
}
body .text-white {
  color: #fff;
}
body .text-info {
  color: #0A0A0A !important;
}
body .text-danger {
  color: #C30C08 !important;
}
body .text-warning {
  color: #AB7E00 !important;
}
body .text-success {
  color: #3c763d !important;
}
body .modal.fade.in {
  /*background-color: rgba(56, 56, 56, 0.58) !important;*/
}
body .modal .close {
  text-shadow: none;
}
body .modal .modal-dialog {
  margin-top: 75px;
}
body .modal .modal-dialog .modal-header,
body .modal .modal-dialog .modal-footer,
body .modal .modal-dialog .modal-body {
  background: #fff !important;
  border-color: #cdcdcd !important;
}
body .modal.modal .modal-footer {
  padding: 10px;
}
body .modal.modal .modal-footer .btn {
  padding: 1em 1.2em;
  font-size: 0.8em;
  line-height: 1.3333333;
  opacity: 0.8;
}
body .nav.nav-tabs li > a {
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body .thumbnail {
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  border-color: #cdcdcd !important;
  background-color: #fff !important;
}
body .blueimp-gallery-main {
  margin-top: -20px;
  background: transparent;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body .blueimp-gallery-main .slide-content {
  background-size: cover!important;
}
body .footer {
  padding: 40px 0;
  font-size: 0.9em;
  border-top: 1px solid #cdcdcd !important;
}
body .list-group .list-group-item {
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body .list-group .list-group-item :hover {
  color: #000 !important;
  background-color: #FDFDFD !important;
  border-color: #BDBDBD !important;
}
body .list-group .list-group-item.active {
  color: #D48E41 !important;
  background-color: #FFFEFA !important;
  border-color: #D48E41 !important;
}
body .badge {
  border: 1px solid;
}
body .badge.badge-info {
  background-color: #FCFEFF !important;
  border-color: #4BBBF3 !important;
  color: #0A0A0A !important;
}
body .badge.badge-success {
  background-color: #FBFFFA !important;
  border-color: #B1DA8C !important;
  color: #3c763d !important;
}
body .badge.badge-warning {
  background-color: #FFFEFA !important;
  border-color: #e2a700 !important;
  color: #AB7E00 !important;
}
body .badge.badge-danger,
body .badge.badge-error {
  background-color: #FFFBFB !important;
  border-color: #FF98AA !important;
  color: #C30C08 !important;
}
body .concept-info .fa {
  font-size: 10em;
  color: #D48E41 !important;
}
body .redactor-toolbar-tooltip {
  color: #232323 !important;
  background-color: #fff !important;
}
