@import "./../functions";
/*error*/
@error-color: #C30C08!important;
@error-color-hover: #C30C08!important;
@error-color-active: #C30C08!important;
@error-background-color: #FFFBFB!important;
@error-background-color-hover: #FDFDFD!important;
@error-background-color-active: #FFFBFB!important;
@error-border-color: #FF98AA !important;
@error-border-color-hover: #FF98AA !important;
@error-border-color-active: #FF98AA !important;
/*success*/
@success-color: #3c763d!important;
@success-color-hover: #3c763d!important;
@success-color-active: #3c763d!important;
@success-background-color: #FBFFFA!important;
@success-background-color-hover: #FDFDFD!important;
@success-background-color-active: #FBFFFA!important;
@success-border-color: #B1DA8C!important;
@success-border-color-hover: #B1DA8C!important;
@success-border-color-active: #B1DA8C!important;
/*info*/
@info-color: #0A0A0A!important;
@info-color-hover: #278FC1!important;
@info-color-active: #278FC1!important;
@info-background-color: #FCFEFF!important;
@info-background-color-hover: #FDFDFD!important;
@info-background-color-active: #FCFEFF!important;
@info-border-color: #4BBBF3 !important;
@info-border-color-hover: #4BBBF3 !important;
@info-border-color-active: #4BBBF3 !important;
/*warning*/
@warning-color: #AB7E00 !important;
@warning-color-hover: #AB7E00 !important;
@warning-color-active: #AB7E00 !important;
@warning-background-color: #FFFEFA!important;
@warning-background-color-hover: #FDFDFD!important;
@warning-background-color-active: #FFFEFA!important;
@warning-border-color: #e2a700!important;
@warning-border-color-hovre: #e2a700!important;
@warning-border-color-active: #e2a700!important;
/*default*/

@default-color:#232323!important;
@default-color-hover:#000!important;
@default-color-active:#D48E41 !important;
/*@default-color-active:rgba(57, 154, 84, 0.87) !important;*/
@default-background-color: #fff!important;
@default-background-color-hover: @warning-background-color-hover;
@default-background-color-active: @warning-background-color-active;
@default-border-color: #cdcdcd !important;
@default-border-color-hover: #BDBDBD !important;
@default-border-color-active: @default-color-active;
@default-border-width: 1px;
@default-border-radius: 1px;


/*@default-color:#F5F5F5!important;
@default-color-hover:#B3B3B3!important;
@default-color-active:#C17623!important;
@default-background-color: #3C3C3C!important;
@default-background-color-hover: #3C3C3C !important;
@default-background-color-active: #1C1C1C!important;
@default-border-color: #8E8E8E !important;
@default-border-color-hover: #8E8E8E !important;
@default-border-color-active: @default-border-color;
@default-border-width: 1px;
@default-border-radius: 1px;*/

body{
    font-size: 1.4em;
    background: @default-color;
    @screen-sm:768px;
    *{
        font-weight: 400!important;
        color: @default-color;
    }
    hr{
        border-color: @default-border-color;
        border-width: @default-border-width;
    }
    .wrap{
        padding-top: 71px;
        padding-bottom: 50px;
        /*background-image: url(/public/img/bg.jpg);*/
        background: @default-background-color;
    }
    h1{
        font-size: 1.5em;
    }
    /*buttons*/
    .btn{
        background: @default-background-color;
        font-weight: 100;
        padding: 0.6em 2.5em;
        font-size: 1em;
        line-height: 1.3333333;
        opacity: 0.8;
        border-width: @default-border-width;
        border-color: @default-border-color;
        .border-radius(@default-border-radius);
        &:hover{
            opacity: 1;
            background-color: @default-background-color-hover;
        }
        &:active,&.active{
            opacity: 1;
            .box-shadow(rgba(0,0,0,0.1));
            background: #FBFBFB!important;
        }
        &.btn-primary,
        &.btn-info{
            color: @info-color;
            border-color: @info-border-color;
            &:hover,&:focus,.open > .dropdown-toggle.btn-primary:hover,
                &:hover,.open > .dropdown-toggle.btn-info:hover {
                background: @info-background-color-hover;
            }
            &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-primary:active,
                &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-info:active {
                background: @info-background-color-active;
            }
        }
        &.btn-success{
            color: @success-color;
            border-color: @success-border-color;
            &:hover,&:focus,.open > .dropdown-toggle.btn-success:hover {
                background: @success-background-color-hover;
            }
            &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-success:active {
                background: @success-background-color-active;
            }
        }
        &.btn-warning{
            color: @warning-color;
            border-color: @warning-border-color;
            &:hover,&:focus,.open > .dropdown-toggle.btn-warning:hover {
                background: @warning-background-color-hover;
            }
            &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-warning:active {
                background: @warning-background-color-active;
            }
        }
        &.btn-danger,
        &.btn-error{
            color: @error-color;
            border-color: @error-border-color;
            &:hover,&:focus,.open > .dropdown-toggle.btn-danger:hover,
                &:hover,.open > .dropdown-toggle.btn-error:hover {
                background: @error-background-color-hover;
            }
            &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-danger:active ,
                &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-error:active {
                background: @error-background-color-active;
            }
        }
        &.disabled{
            color: #CCCCCC!important;
        }
        &.btn-default{
            color: @default-color;
            border-color: @default-border-color;
            &:hover,&:focus,.open > .dropdown-toggle.btn-default:hover,
                &:hover,.open > .dropdown-toggle.btn-default:hover {
                background: @default-background-color-hover;
            }
            &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-default:active ,
                &:active,&.active,&.active:active,.open > .dropdown-toggle.btn-default:active {
                background: @default-background-color-active;
                color: @default-color-active;
            }
        }
    }
    .input-group{
        .btn{
            background-color: @default-background-color;
            &:active{
                background-color: @default-background-color-active;
            }
        }
        .btn{
            border-right-color: transparent;
            border-width: @default-border-width;
            padding: 0.5em 1em;
        }
    }
    /*buttons end*/

    /*breadcrumb*/
    .breadcrumb{
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0;
        list-style: none;
        background-color: transparent;
        a{
            color: @default-color;
        }
        .active{
            color: @default-color-active;
        }
    }
    /*breadcrumb end*/

    /*menu*/
    @navbar-active-color: @default-color-active;
    .navbar.main-top-nav{
        margin-bottom: 0;
        opacity: 0.97;
        @color: @default-background-color;
        @color-active: @navbar-active-color;
        /*background: rgba(255, 255, 255, 0.97)!important;*/
        background: @default-color;
        border-color: @default-border-color;
        .navbar-brand:focus,
            .navbar-brand:active,
            .navbar-brand:hover,
            .navbar-brand{
            color: @color;
            padding: 25px 15px;
            font-size: 1.5em;
        }
        .navbar-toggle {
            margin-top: 18px;
            margin-bottom: 18px;
        }
        .nav>li{
            >a{
                .fa{
                    font-size: 1.1em!important;
                }
            }
            &>ul{
                border-top: 0;
                .box-shadow(none);
                .border-radius(0);
            }
        }
        .box-shadow(0 1px 1px rgba(0,0,0,0.1));
        .navbar-toggle{
            .icon-bar{
                color: @color-active;
                border-color: @default-border-color;
                background-color: @default-color-active;
            }
        }
        @media (min-width: @screen-sm) {
            .collapse>ul{
                >li{
                    &>a{
                        padding: 25px 15px;
                        text-align: inherit;
                    }
                }
            }
        }
        .dropdown{
            .dropdown-toggle{
                .caret{
                    color: @default-background-color;
                }
            }
            .dropdown-menu{
                right: auto;
                background: @default-color;
                a{
                    text-align: left!important;
                    font-size: 0.9em!important;
                }
            }
            &.open{
                .dropdown-toggle{
                    background: @default-color-active;
                }
                .dropdown-menu{
                    background: @default-color-active;
                }
            }
        }
        .navbar-collapse>ul{
            >li{
                :active,
                    li:visited,
                    li:focus,
                    li:hover{
                    background: transparent;
                }
            }
            li>a,
            li>a:visited,
                li>a:focus,
                li>a:hover,
                li>a .fa,
                li.active>a:hover,
                li.active>a{
                color: @color;
                background-color: transparent!important;
                text-transform: uppercase;
                font-size: 1.1em;
                text-align: center;
            }
            li.active>a:active,
                li.active>a:focus,
                li.active>a:hover,
                li.active>a,
                li.active>a .fa:focus,
                li.active>a .fa:hover,
                li.active>a .fa{
                color: @color-active;
            }
        }
        .navbar-toggle{
            .border-radius(@default-border-radius);
            border-color: @default-border-color;
            &:hover,
                &:focus,
                &:visited,
                &:active{
                background-color: transparent;
            }
            .icon-bar{
                background-color: @default-color-active;
            }
            &.collapsed .icon-bar{
                background-color: @default-color;
            }
        }
        form{
            .btn{
                color: @default-background-color;
                background: @default-color;
                border-color: @default-border-color;
                .fa{
                    color: @default-background-color; 
                }
            }
            .form-control{
                background: @default-color;
                color: @default-background-color;
                border-color: @default-border-color;
            }
        }
    }

    /*footer*/
    .footer{
        a,.fa{
            font-size: 1.2em;
            color: @default-background-color;
            &:active,
                &:focus,
                &:hover{
                background: transparent;
                color: @default-color-hover;
            }
        }
        .active{
            a{
                color:@default-color-active;
            }
        }

    }
    /*footer end*/
    /*menu end*/

    /*progrss begin*/
    .progress{
        border-width: @default-border-width;
        .border-radius(0);
        .progress-bar{
            border: 1px solid;
        }
        .progress-bar-success{
            /*background-color: @success-background-color;*/
            border-color: @success-border-color;
            color: @success-color;
        }
        .progress-bar-danger{
            /*background-color: @error-background-color;*/
            border-color: @error-border-color;
            color: @error-color;
        }
        .progress-bar-warning{
            /*background-color: @warning-background-color;*/
            border-color: @warning-border-color;
            color: @warning-color;
        }
        .progress-bar-info{
            /*background-color: @info-background-color;*/
            border-color: @info-border-color;
            color: @info-color;
        }

        &.front-page-loadings-progress{
            z-index: 99999;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 7px;
        }
    }
    /*progrss end*/


    /*forms*/
    form,
    table{
        .form-control{
            border-width: @default-border-width;
            height: auto;
            padding: 0.5em 1em;
            font-size: 1em;
            line-height: 1.3333333;
            color: @default-color;
            border-color: @default-border-color;
            .box-shadow(none);
            .border-radius(@default-border-radius);
            background-color: @default-background-color;
            &:focus{
                color: @default-color;
                background-color: @default-background-color-active;
                border-color: @default-border-color-active;
            }
        }
        textarea{
            height: auto!important;
        }
        .has-success {
            .form-control{
                border-color: @success-border-color;
            }
            .help-block{
                color: @success-color;
            }
        }
        .has-error {
            .form-control {
                border-color: @error-border-color;
            }
            .help-block{
                color: @error-color;
            }
        }


        .file-input{
            .file-upload-indicator{
                width: 0;
                padding-top: 11px;
            }
            .file-drop-zone{
                margin: 20px;
                .border-radius(0);
                .file-drop-zone-title{
                    color: @default-color;
                }
                .file-footer-buttons{
                    margin-top: 2px;
                    .btn{
                        padding: 5px 25px;
                        border-width: @default-border-width;
                    }
                }
                .file-thumb-progress{
                    .progress-bar{
                        height: 12px;
                    }
                }
            }
            .progress{
                margin-bottom: 2px;
            }
            .input-group{
                .form-control{
                    border-color: @default-border-color;
                }
                .btn{
                    border-width: @default-border-width;
                }
            }
            .kv-upload-progress{
                width: 99.97%;
            }
            .file-preview{
                position: relative;
                border: 1px solid;
                padding: 2px;
                width: 99.97%;
                border-color: @default-border-color;
                .border-radius(@default-border-radius);
                .close{
                    position: absolute;
                    right: 0;
                    margin-right: 10px;
                    color: @error-color;
                }
                .file-preview-frame{
                    min-width: 195px;
                    border-color: @default-border-color;
                    .box-shadow(0 1px 1px rgba(226, 226, 226, 0.75));
                    &:focus,
                        &:active,
                        &:hover{
                        .box-shadow(0 1px 1px rgba(226, 226, 226, 0.75));
                    }
                    .file-preview-image,
                    .file-preview-other{
                        border: none;
                    }
                }
            }
            .fileinput-remove-button{
                color: @error-color;
                border-color: @default-border-color;
                &:focus,
                    &:hover{
                    color: @error-color-hover;
                }
                &.active,
                &:active{
                    color: @error-color-active;
                }
            }
            .glyphicon.glyphicon-folder-open{
                margin-right: 4px;
            }
        }
    }
    /*forms end*/


    /*alert*/
    .alert{
        border-width: @default-border-width;
        .border-radius(@default-border-radius);
        .box-shadow(none);
        &.alert-error,
        &.alert-danger{
            color: @error-color;
            background-color: @error-background-color;
            border-color: @error-border-color;
        }
        &.alert-success{
            color: @success-color;
            background-color: @success-background-color;
            border-color: @success-border-color;
        }
        &.alert-info{
            color: @info-color;
            background-color: @info-background-color;
            border-color: @info-border-color;
        }
        &.alert-warning{
            color: @warning-color;
            background-color: @warning-background-color;
            border-color: @warning-border-color;
        }
    }
    /*alert end*/
    /*panel begin*/
    .panel{
        border-width: @default-border-width;
        .border-radius(@default-border-radius);
        &.panel-info{
            border-color: @info-border-color;
            .panel-heading{
                background-color: @info-background-color;
                border-color: @info-border-color;
                color: @info-color
            }
        }
        &.panel-success{
            border-color: @success-border-color;
            .panel-heading{
                background-color: @success-background-color;
                border-color: @success-border-color;
                color: @success-color
            }
        }
        &.panel-warning{
            border-color: @warning-border-color;
            .panel-heading{
                background-color: @warning-background-color;
                border-color: @warning-border-color;
                color: @warning-color;
            }
        }
        &.panel-danger{
            border-color: @error-border-color;
            .panel-heading{
                background-color: @error-background-color;
                border-color: @error-border-color;
                color: @error-color
            }
        }
        .panel-heading{
            padding: 1em;
            border-width: @default-border-width;
            .border-radius(@default-border-radius);
        }
        .panel-body{
            padding: 1em;
        }
    }
    /*panel end*/


    /*text*/
    .text-white{
        color: #fff;
    }
    .text-info{
        color: @info-color;
    }
    .text-danger{
        color: @error-color;
    }
    .text-warning{
        color: @warning-color;
    }
    .text-success{
        color: @success-color;
    }
    /*text end*/


    /*modals*/
    .modal {
        &.fade.in{
            /*background-color: rgba(56, 56, 56, 0.58) !important;*/
        }
        .close{
            text-shadow: none;
        }
        .modal-dialog{
            margin-top: 75px;
            .modal-header,
            .modal-footer,
            .modal-body{
                background: @default-background-color;
                border-color: @default-border-color;
            }
        }
        &.modal {
            .modal-footer{
                padding: 10px;
                .btn{
                    padding: 1em 1.2em;
                    font-size: 0.8em;
                    line-height: 1.3333333;
                    opacity: 0.8;
                }
            }
        }
    }
    /*modals end*/

    .nav.nav-tabs{
        li>a{
            .border-radius(@default-border-radius);
        }
    }

    /*thumbnail begin*/
    .thumbnail{
        border-width: @default-border-width;
        .border-radius(@default-border-radius);
        border-color: @default-border-color;
        background-color: @default-background-color;
    }
    /*thumbnail end*/

    .blueimp-gallery-main{
        margin-top: -20px;
        background: transparent;
        .box-shadow(none);
        .slide-content{
            background-size: cover!important;
        }
    }

    .footer{
        padding: 40px 0;
        font-size: 0.9em;
        border-top: @default-border-width solid @default-border-color;
    }

    /*app custom begin :************************************************************************************************************************************/ 
    .list-group {
        .list-group-item {
            .border-radius(@default-border-radius);
            :hover{   
                color: @default-color-hover;
                background-color: @default-background-color-hover;
                border-color: @default-border-color-hover;
            }
            &.active{   
                color: @default-color-active;
                background-color: @default-background-color-active;
                border-color: @default-border-color-active;
            }
        }
    }
    .badge{
        border: @default-border-width solid;
        &.badge-info{
            background-color: @info-background-color;
            border-color: @info-border-color;
            color: @info-color;
        }
        &.badge-success{
            background-color: @success-background-color;
            border-color: @success-border-color;
            color: @success-color;
        }
        &.badge-warning{
            background-color: @warning-background-color;
            border-color: @warning-border-color;
            color: @warning-color;
        }
        &.badge-danger,
        &.badge-error{
            background-color: @error-background-color;
            border-color: @error-border-color;
            color: @error-color;
        }
    }
    .concept-info{
        .fa{
            font-size: 10em;
            color: @default-color-active;
        }
    }
    .redactor-toolbar-tooltip {
        color: @default-color;
        background-color: @default-background-color;
    }


    /*app custom end :*/ 

}