body{
    .__width{
        width: 100%!important;
        max-width: 100%!important;
    }
    .spv-addlot-box .form-group{
        .__width;
    }
    .th{
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        background: #EAEAEA;
        text-align: center;
        height: 55px;
        padding: 20px 0;
    }
    select{
        border: 1px solid #F0F0F0;
        height: 45px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        background: #fff;
    }
    .uploader-widget-container{
        .img-bg{
            border-radius: 50%;
            padding-top: 0;
            /*width: 50%;*/
            margin: 0 auto;
            background-position: 50%;
            background-size: cover!important;
        }
        img{
            /*border-radius: 50%;*/
            width: 145px;
            height: 145px;
        }
    }
    form{
        .has-error{
            input{
                border-color: #a94442;
            }
        }
        .help-block{
            text-align: left;
        }
    }
    .header-login-wrap{
        .dropdown-menu > li > a.active,
        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }
    }
    .main_container{
        padding: 0;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    .mp-how-to-inner{
        a{
            display: block;
            color: #fff;
        }
    }

    .footer-link-item{
        a{
            display: block;
            color: #fff;
            text-decoration: none;
            &:hover{
                color: #fff;
                cursor: default;
                text-decoration: none;
            }
        }
    }
}