body .__width {
  width: 100%!important;
  max-width: 100%!important;
}
body .spv-addlot-box .form-group {
  width: 100%!important;
  max-width: 100%!important;
}
body .th {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  background: #EAEAEA;
  text-align: center;
  height: 55px;
  padding: 20px 0;
}
body select {
  border: 1px solid #F0F0F0;
  height: 45px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background: #fff;
}
body .uploader-widget-container .img-bg {
  border-radius: 50%;
  padding-top: 0;
  /*width: 50%;*/
  margin: 0 auto;
  background-position: 50%;
  background-size: cover!important;
}
body .uploader-widget-container img {
  /*border-radius: 50%;*/
  width: 145px;
  height: 145px;
}
body form .has-error input {
  border-color: #a94442;
}
body form .help-block {
  text-align: left;
}
body .header-login-wrap .dropdown-menu > li > a.active,
body .header-login-wrap .dropdown-menu > li > a:hover,
body .header-login-wrap .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
body .main_container {
  padding: 0;
}
body a:hover {
  text-decoration: none;
}
body .mp-how-to-inner a {
  display: block;
  color: #fff;
}
body .footer-link-item a {
  display: block;
  color: #fff;
  text-decoration: none;
}
body .footer-link-item a:hover {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
