@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaUltralight.ttf);
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaThin.ttf);
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaLight.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaRegular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaMedium.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaBlack.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaBold.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaHeavy.ttf);
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Nue';
	src: url(../fonts/helvetica/HelveticaBlack.ttf);
	font-weight: 900;
	font-style: normal;
}