.icn {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icons.png);
}
.icn.__big {
    width: 50px;
    height: 50px;
}

/* each icon settings */
.icn-login {
    background-position: 0 0;
}
.icn-logout {
    background-position: -25px 0;
}
.icn-register {
    background-position: -25px 0;
}
.icn-search {
    background-position: -100px 0;
}
.icn-chat {
    background-position: -0 -25px;
}
.icn-chat-white {
    background-position: -50px -25px;
}
.icn-comment-orange {
    background-position: -75px -25px;
}
.icn-comment-white {
    background-position: -100px -25px;
}
.icn-favorite {
    background-position: -25px -25px;
}
.icn-arrow-left {
    background-position: 0px -50px;
}
.icn-arrow-left:hover {
    background-position: -25px -50px;
}
.icn-arrow-right {
    background-position: -50px -50px;
}
.icn-arrow-right:hover {
    background-position: -75px -50px;
}
.icn-arrow-left-big {
    background-position: -100px -50px;
}
.icn-arrow-right-big {
    background-position: -125px -50px;
}
.icn-arrow-top {
    background-position: -100px -50px;
}
.icn-arrow-down {
    background-position: -125px -50px;
}

.icn-level-1 {
    background-position: 0px -125px;
}
.icn-level-2 {
    background-position: -25px -125px;
}
.icn-level-3 {
    background-position: -50px -125px;
}
.icn-level-4 {
    background-position: -75px -125px;
}
.icn-level-5 {
    background-position: -100px -125px;
}
.icn-level-6 {
    background-position: -125px -125px;
}
.icn-delete {
    background-position: -200px -125px;
}

.icn-star-full {
    background-position: -0px -100px;
}
.icn-star-empty {
    background-position: -25px -100px;
}
.icn-star-half {
    background-position: -50px -100px;
}

/*  */
.icn-top {
    background-position: 0 -150px;
}
.icn-catalog {
    background-position: -50px -150px;
}
.icn-lots {
    background-position: -100px -150px;
}
.icn-store {
    background-position: -150px -150px;
}