/* Medium */
@media(max-width:1200px) {
	.mp-substore-newstore-wrap {
		padding: 0 15px 15px;
	}
	.mp-substore-newlots-wrap {
		padding: 0 15px 15px;
	}
	.footer-link-item,
	.footer-link-item:first-of-type,
	.footer-link-item:last-of-type {
		margin: 0 20px;
	}
	.bnp-blogtext-wrap,
	.bp-blogpoint-wrap,
	.bp-blogtext-wrap {
		margin-right: -15px;
	}
}

/* Small */
@media(max-width:992px) {
	.mobile-hamburger-toggle {
		display: block;
	}
		.mobile-hamburger-menu.open {
			opacity: 1;
			top: 41px;
		}
	.header-logo-img {
		display: block;
		margin: 25px auto 0;
	}
	.header-login-right {
		position: static;
	}
	.header-search-wrap {
		width: 100%;
			
	}
		.header-search-wrap .header-search-form {
			width: calc(100% - 233px);
		}
			.header-search-wrap input {
				width: 100%;
			}
			.header-search-wrap-showmore {
				display: none;
			}
				.header-search-subbox.open {
					display: none;
				}
	.mp-store-gamecat-wrap,
	.mp-substore-review-wrap,
	.faq-menu-wrap {
		margin-left: 0;
	}
	.mp-store-slider-wrap,
	.bnp-blogtext-wrap,
	.bp-blogpoint-wrap,
	.bp-blogtext-wrap,
	.faq-text-wrap,
	.gamepage-search-box,
	.gamepage-lots-tablebox {
		margin-right: 0;
	}
	.mp-substore-newstore-wrap {
		margin-right: 0;
		margin-left: 0;
		padding: 0 30px 15px;
	}
	.mp-substore-newlots-wrap {
		margin-left: 0;
		margin-right: 0;
		padding: 0 30px 15px;
	}
	.mp-top-news-gamelist-item {
		width: 100%;
		margin: 10px 0;
	}
	.footer-link-item,
	.footer-link-item:first-of-type,
	.footer-link-item:last-of-type {
		margin: 5px 20px;
	}
	.footer-copy-point,
	.footer-copy-point:last-of-type
	.footer-copy-point:first-of-type {
		display: block;
		text-align: center;
		padding: 0;
	}

	.gamepage-lots-tablebox th,
	.bip-history-wrap th {
		display: none;
	}
	.gamepage-lots-tablebox td,
	.bip-history-wrap td {
		display: block;
		text-align: center;
	}
	.gamepage-lots-saller-img {
		float: none;
		margin: 0 auto;
	}
	.gamepage-lots-saller-text {
		margin-left: 0;
	}
	.gamepage-lots-info-img {
		display: none;
	}
	.gamepage-lots-info-text {
		margin-left: 0;
	}
}

/* Extra Small */
@media(max-width:767px){
	.header-login-wrap {
		position: relative;
		z-index: 9999;
	}
	.header-login-right .icn {
		margin-right: 0;
	}
		.header-login-wrap a .notif-count {
			left: calc(100% - 22px);
		}
	.mp-top-news-gamelist-item:hover {
		transform: scale(1);
	}
	.footer-link-item,
	.footer-link-item:first-of-type,
	.footer-link-item:last-of-type {
		margin: 5px 10px;
	}
	.gp-games-box-img,
	.gp-games-box-name,
	.gp-games-box-info {
		width: 100%;
	}
	.gp-games-box-name {
		width: 100%;
		line-height: 1.8;
		padding: 10px 0;
		text-align: center;
	}
}


@media(max-width:550px){

}

@media(max-width:430px){

}