* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Nue';
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.button {
    line-height: 53px;
    width: 220px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #2A6FD8;
    border: none;
    display: inline-block;
    text-align: center;
    transition: .3s;
}
.button.__small {
    font-size: 16px;
    font-weight: 500;
    width: 175px;
    line-height: 40px;

}
.button.__orange {
    background: #F37820;
}
.button.__transparent {
    background: transparent;
    border: 1px solid #2A6FD8;
    color: #2A6FD8;
}
.button:hover {
    box-shadow: 0 0 6px 0 rgba(0,0,0,.6);
}
a.button:hover {
    color: #fff;
    text-decoration: none;
}

input:focus {
    outline: none;
}

.container {
    position: relative;
}

.shadow-elem {
    display: none;
}

.saler-rates-wrap {

}
.saler-rates-wrap i.icn {
    width: 20px;
}

.mp-sect-title {
    margin: 15px 0;
    line-height: 30px;
}
.mp-sect-title h2 {
    text-transform: uppercase;
    font-size: 22px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.mp-sect-title a {
    float: right;
    color: rgba(0,0,0,.5);
    vertical-align: sub;
}
.mp-orange-title {
    margin: 15px 0;
    line-height: 30px;
}
.mp-orange-title h2 {
    color: #F37820;
    font-size: 26px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 65px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    line-height: 45px;
    width: 45px;
    text-align: center;
}
.owl-prev {
    left: -15px;
}
.owl-next {
    right: -15px;
}

.user-avatar {
    border-radius: 50%;
    padding-top: 100%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-login-wrap {
    height: 41px;
    background: #171A21;
}
.header-login-left {
    position: absolute;
    left: 0;
    top: 0;
}
.header-login-userimg {
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 6px;
}
.header-login-right {
    position: absolute;
    right: 15px;
    top: 0;
}
.header-login-wrap a {
    border-left: 1px solid #2F3138;
    float: left;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0 15px;
}
.header-login-wrap a:last-of-type {
    border-right: 1px solid #2F3138;
}
.header-login-wrap a span {
    vertical-align: middle;
}
.header-login-wrap a:hover span {
    text-decoration: underline;
}
.header-login-wrap a .notif-count {
    position: absolute;
    background: #F37820;
    color: #fff;
    line-height: 17px;
    border-radius: 8px;
    padding: 0 6px;
    top: 2px;
    left: calc(100% - 15px);
    font-size: 12px;
    text-decoration: none;
    z-index: 999;
}
.header-login-wrap a:hover .notif-count {
    text-decoration: none;
}
.header-login-wrap .icn {
    margin-right: 7px;
}
.header-login-wrap .dropdown {
    float: left;
    border-right: 1px solid #2F3138;
}
.header-login-wrap .dropdown button {
    background: transparent;
    line-height: 40px;
    border: none;
    color: #fff;
    padding: 0 15px;
}
.header-login-wrap .dropdown-menu {
    background: #171A21;
    left: auto;
    right: 0;
    border-radius: 0;
    margin: 0;
    top: calc(100% + 5px);
    padding: 0;
    transition: .3s;
}
.header-login-wrap .open .dropdown-menu {
    animation: fadeInDown .2s;
}
.header-login-wrap .dropdown a {
    display: block;
    line-height: 40px;
    border: none;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: none;
    top: calc(100% + 5px);
    color: #fff;
}
.mobile-hamburger-toggle {
    float: right;
    display: inline-block;
    width: 30px;
    line-height: 45px;
    cursor: pointer;
    display: none;
}
.mobile-hamburger-bar-wrap {
    display: inline-block;
    width: 100%;
    height: 15px;
    position: relative;
}
.mobile-hamburger-bar {
    display: block;
    background: #fff;
    height: 3px;
    position: absolute;
    width: 100%;
    transition: .3s;
}
.mobile-hamburger-toggle .bar-1 {
    transform-origin: 0 0;
    top: 0;
}
.mobile-hamburger-toggle .bar-2 {
    transform-origin: 0 3px;
    bottom: 0;
}
.mobile-hamburger-toggle.open .bar-1 {
    transform: rotate(45deg);
    top: -4px;
}
.mobile-hamburger-toggle.open .bar-2 {
    transform: rotate(-45deg);
    bottom: -4px;
}

.mobile-hamburger-menu {
    position: absolute;
    top: -600px;
    background: #171A21;
    left: 0;
    width: 100vw;
    z-index: 9998;
    opacity: 0;
    transition: .3s ease-out;
}
.mobile-hamburger-menu ul {
    display: block;
    list-style: none;
    padding: 0 15px;
    text-align: center;
}
.mobile-hamburger-menu li {
    display: block;
    border-top: 1px solid #2f3138;
    width: calc(100% - 15px);
}
.mobile-hamburger-menu li:last-child {
    border-bottom: 1px solid #2f3138;
}
.mobile-hamburger-menu a {
    border-left: 1px solid #2F3138;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0 15px;
}
.mobile-hamburger-menu a:last-of-type {
    border-right: 1px solid #2F3138;
}


header {
    line-height: 140px;
}
.header-logo-img {
    max-width: 100%;
}
.header-search-wrap {
    display: inline-block;
    line-height: 40px;
    background: #F0F0F0;
    position: relative;
}
.header-search-mainbox {

}
.header-search-wrap .dropdown {
    display: inline-block;
    vertical-align: middle;
}
.header-search-wrap .dropdown button {
    line-height: 40px;
    padding: 0 15px;
    color: rgba(0,0,0,.5);
    border-radius: 0px;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
}
.header-search-wrap .open button {
    background: #2A6FD8;
    color: #fff;
}
.header-search-wrap .dropdown:after {
    content: "";
    top: calc(50% - 10px);
    right: 0;
    position: absolute;
    display: block;
    height: 20px;
    width: 1px;
    background: #9D9D9D;
}
.header-search-wrap .dropdown.open:after {
    display: none;
}
.header-search-wrap .dropdown-menu {
    background: #2A6FD8;
    border-radius: 0;
}
.header-search-wrap .dropdown-menu a {
    color: #fff;
}
.header-search-wrap .open .dropdown-menu a {
    animation: fadeInDown .2s;
}
.header-search-wrap .form-group {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.header-search-wrap input {
    height: 40px;
    background: transparent;
    border: none;
    width: 200px;
    padding: 0 5px;
    display: inline-block;
}
.header-search-wrap button {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    background: #2A6FD8;
    padding: 0 10px;
    border: none;
}
.header-search-subbox {
    text-align: center;
    color: #9D9D9D;
    font-size: 12px;
    display: none;
    text-transform: uppercase;
}
.header-search-subbox .form-inline {
    display: inline-block;
}
.header-search-subbox label {
    color: #9D9D9D;
    font-weight: 200;
    margin-bottom: 0;
}
.header-search-subbox input {
    height: 24px;
    border: 1px solid #E8E8E8;
    background: #fff;
    vertical-align: middle;
}
.header-search-subbox input[type=number] {
    width: 45px;
    height: 24px;
}
.header-search-subbox input[type=text] {
    width: 110px;
}
.header-right-menu-wrap {
    position: absolute;
    right: 5px;
    line-height: 140px;
}
.header-right-menu-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-right-menu-wrap li {
    line-height: 1.4;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
}
.header-right-menu-wrap li a {
    color: rgba(0,0,0,.6);
    font-weight: 400;
}
.header-right-menu-wrap li.active a {
    color: #2A6FD8;
}
.header-search-wrap-showmore {
    position: absolute;
    right: 15px;
    top: calc(100% + 10px);
    color: rgba(0,0,0,.5);
    line-height: 1.4;
    font-size: 12px;
    cursor: pointer;
    text-transform: none;
}
.header-search-subbox.open {
    display: block;
}
.header-search-wrap-showmore:hover span {
    text-decoration: underline;
}
.header-search-subbox.open ~ .header-search-wrap-showmore {
    display: none;
}

.mp-sect-top-gamelist-wrap,
.gp-sect-top-gamelist-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding-bottom: 15px;
}
.gp-sect-top-gamelist-wrap {
    margin: 0 -20px;
    padding: 0 20px;
}
.mp-top-news-gamelist {
    margin: 0 -10px;
}
.mp-top-news-gamelist.__single {
    margin: 0 0px;
}
.mp-top-news-gamelist:after {
    content: "";
    display: block;
    clear: both;
}
.mp-top-news-gamelist-item {
    margin: 7.5px 10px;
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    width: calc(50% - 20px);
    padding-top: 33%;
    float: left;
    transition: .3s;
}
.__single .mp-top-news-gamelist-item {
    width: 100%;
    padding-top: 66%;
    margin: 7.5px 0;
}
.mp-top-news-gamelist-item:hover {
    /*transform: scale(1.05);*/
    box-shadow: 0 0 6px 0 rgba(0,0,0,.66);
    box-shadow: .3s;
    animation-delay: .3s;
    cursor: pointer;
}
.mp-top-news-gamelist-title {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(42,111,216, .9);
    line-height: 40px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #fff;
}
.mp-top-news-gamelist-ctrl {
    text-align: center;
}
.mobile-gamelist-toggle {
    position: relative;
}
.mobile-gamelist-toggle .icn-arrow-down {
    position: absolute;
    right: 15px;
    top: calc(50% - 12px);
    transition: .3s;
}
.mobile-gamelist-toggle.open .icn-arrow-down {
    transform: rotate(180deg);
}
.mp-top-news-slider-wrap {

}
.mp-top-news-slider-item {
    height: 450px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.mp-top-news-slider-wrap .owl-prev,
.mp-top-news-slider-wrap .owl-next {
    line-height: 60px;
    width: 60px;
    top: calc(50% - 30px);
}
.mp-top-news-slider-wrap .owl-prev {
    left: 0;
}
.mp-top-news-slider-wrap .owl-next {
    right: 0;
}
.mp-top-news-slider-text {
    margin: 15px 0;
}
.mp-top-news-slider-text p {
    padding: 0;
    line-height: 1.4;
    font-size: 16px;
    color: rgba(0,0,0,.6);
}

.mp-how-to-wrap {

}
.mp-how-to-item {
    margin: 15px 0;
    padding-top: 60%;
    background: #2A6FD8;
    position: relative;
    cursor: pointer;
    transition: .3s;
}
.mp-how-to-item.__horizontal {
    padding-top: 40%;
}
.mp-how-to-item:hover {
    /*transform: scale(1.025);*/
    box-shadow: 0 0 32px 8px rgba(0,0,0,.075);
}
.mp-how-to-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 100%;
}
.__horizontal .mp-how-to-inner {
    line-height: 83px;
}
.mp-how-to-icon {
    width: 130px;
    height: 130px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}
.__horizontal .mp-how-to-icon {
    width: 83px;
    height: 83px;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    float: left;
    margin-left: 10px;
}
.mp-how-to-icon:after {
    content: "";
    display: block;
}
.__horizontal .mp-how-to-icon:after {
    content: "";
    display: none;
}
.mp-how-to-inner span {
    font-size: 26px;
    text-transform: uppercase;
    display: block;
}
.__horizontal .mp-how-to-inner span {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.mp-store-gamecat-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 0 15px 15px 30px;
    margin-left: -15px;
}
.mp-store-gamecat-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mp-store-gamecat-wrap li {
    padding: 0;
    line-height: 45px;
}
.mp-store-gamecat-wrap li a {
    font-size: 20px;
    color: rgba(0,0,0,.7);
}
.mp-store-gamecat-wrap li a:hover {
    color: #2A6FD8;
    text-decoration: none;
}
.mp-store-gamecat-ctrl {
    text-align: center;
}
.mp-store-gamecat-wrap .button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}
.mp-store-gamecat-link {
    color: #2A6FD8;
    font-weight: 800;
    display: inline-block;
}

.mp-store-slider-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 0 30px;
    margin-right: -30px;
}
.mp-store-slider-box {
    margin: 30px -15px;
    padding-right: 0;
    width: calc(100% + 30px);
}
.mp-store-slider-item {
    padding: 0 15px;
}
.mp-store-slider-img {
    padding-top: 60%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.mp-store-slider-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.75);
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}
.mp-store-slider-img:hover .mp-store-slider-img-hover {
    visibility: visible;
    opacity: 1;
}
.mp-store-slider-img-hover a {
    position: absolute;
    top: calc(50% - 5px);
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    width: 120px;
    max-width: 100%;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fff;
    transition: top .1s;
}
.mp-store-slider-img-hover:hover a {
    position: absolute;
    top: 50%;
}
.mp-store-slider-img-hover a:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
}
.mp-store-slider-info {
    padding-top: 20px;
}
.mp-store-slider-info-left {
    display: inline-block;
}
.mp-store-slider-info-left h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000;
}
.mp-store-slider-info-left span {
    color: rgba(0,0,0,.8);
    font-size: 14px;
}
.mp-store-slider-info-left p {
    color: rgba(0,0,0,.5);
    font-size: 14px;
    padding-top: 7px;
}
.mp-store-slider-info-right {
    float: right;
}
.mp-store-slider-info-right .price {
    font-size: 30px;
    line-height: 32px;
    color: #2A6FD8;
}
.mp-store-slider-info-right .unit {
    font-size: 20px;
    color: rgba(0,0,0,.8);
    vertical-align: middle;
}
.mp-substore-wrap {
    margin: 30px 0;

}
.mp-substore-review-wrap {
    margin-left: -15px;
    padding: 0 30px;
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
}
.mp-substore-review-item {
    border-bottom: 1px solid #F0F0F0;
    padding: 20px 0;
}
.mp-substore-review-item:after {
    content: "";
    display: block;
    clear: both;
}
.mp-substore-review-item:last-of-type {
    border-bottom: 0;
}
.mp-substore-review-ava {
    width: 80px;
    margin-right: 30px;
    display: inline-block;
}
.mp-substore-review-text {
    float: right;
    width: calc(100% - 110px);
}
.mp-substore-review-text.__noava {
    float: none;
    width: 100%;
}
.mp-substore-review-title {
    margin-top: -4px;
}
.mp-substore-review-title,
.mp-substore-review-info {
    line-height: 1.8;
}
.mp-substore-review-text span {
    color: #616161;
    font-size: 16px;
}
.mp-substore-review-info span {
    font-size: 14px;
}
.mp-substore-review-text strong{
    color: rgba(0,0,0,.8);
    font-size: 16px;
}
.mp-substore-review-text a {
    font-size: 16px;
    color: #2A6FD8;
    text-decoration: none;
}
.mp-substore-review-text a:hover {
    text-decoration: underline;
}
.mp-substore-review-text p {
    font-size: 16px;

}
.mp-substore-newlots-wrap {
    margin-right: -15px;
    padding: 0 30px 15px;
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
}
.mp-substore-newstore-wrap {
    margin-left: 15px;
    margin-right: -30px;
    padding: 0 30px 15px;
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
}
.mp-substore-newlots-item {
    padding-bottom: 15px;
}
.mp-substore-newlots-img {
    padding-top: 60%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.mp-substore-newlots-info {
    padding-top: 20px;
}
.mp-substore-newlots-info:after {
    content: "";
    display: block;
    clear: both;
}
.mp-substore-newlots-info-left {
    display: inline-block;
}
.mp-substore-newlots-info-left h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000;
}
.mp-store-slider-info-left span {
    color: rgba(0,0,0,.8);
    font-size: 14px;
}
.mp-substore-newlots-info-left p {
    color: rgba(0,0,0,.5);
    font-size: 14px;
    padding-top: 7px;
}
.mp-substore-newlots-info-right {
    float: right;
}
.mp-substore-newlots-info-right .price {
    font-size: 30px;
    line-height: 32px;
    color: #2A6FD8;
}
.mp-substore-newlots-info-right .unit {
    font-size: 20px;
    color: rgba(0,0,0,.8);
    vertical-align: middle;
}

.gamepage-top-box {
    margin: 0 -15px 30px;
    padding: 0 15px;
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
}
.gamepage-top-title {

}
.gamepage-top-title h3 {
    font-size: 22px;
    font-weight: 700;
    color: #2A6FD8;
    margin: 10px 0 25px;
    padding: 0;
}
.gamepage-top-info {
    padding-bottom: 40px;
}
.gamepage-top-info-img {
    padding-top: 60%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.gamepage-top-info-text {
    color: rgba(0,0,0,.6);
}

.gamepage-search-box {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-right: -30px;
    margin-top: 15px;
    padding: 15px 30px;
}
.gamepage-search-inputline {
    margin: 15px -15px;
}
.gamepage-search-inputline .form-group {
    width: 200px;
    margin: 0 10px;
    vertical-align: bottom;
}
.gamepage-search-inputline .form-group.__small {
    width: 88px;
}
.gamepage-search-inputline .form-group.__button {
    width: 130px;
}
.gamepage-search-inputline label {
    font-size: 14px;
    font-weight: 500;
}
.gamepage-search-inputline input,
.gamepage-search-inputline select {
    display: block;
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 1px solid #D4D4D4;
    padding: 0 10px;

}
.gamepage-search-inputline button {
    font-size: 12px;
    height: 35px;
    text-transform: none;
    line-height: 35px;
    width: 100%;
    padding: 0;
    font-weight: 600;
}
.gamepage-search-inputline button.submit {
    font-size: 14px;
    line-height: 33px;
    font-weight: 900;
}

.gamepage-lots-tablebox {
    margin-top: 30px;
    margin-right: -30px;
    background: #FBFAFA;
}
.gamepage-lots-tablebox table {
    width: 100%;
    border: 1px solid #F0F0F0;
}
.gamepage-lots-tablebox tr {
    border-bottom: 1px solid #F0F0F0;
}
.gamepage-lots-tablebox tr.open {
    background: #F4F4F4;
    border-bottom: none;
}
.gamepage-lots-tablebox th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background: #EAEAEA;
    text-align: center;
    height: 55px;
}

.gamepage-lots-table-moreinfo {
    display: none;
}
.gamepage-lots-table-moreinfo td {
    padding: 30px;
    background: #F4F4F4;
}
.gamepage-lots-table-ctrl {
    text-align: right;
    padding-bottom: 20px;
}
.gamepage-lots-table-ctrl .button {
    font-size: 16px;
    text-transform: none;
    width: auto;
    padding: 0 15px;
}
.gamepage-lots-table-ctrl .button i {
    margin-right: 15px;
}

.spv-tabs-wrap {

}
.spv-tabs-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.spv-tabs-wrap li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.spv-tabs-wrap a {
    display: block;
    width: 120px;
    line-height: 40px;
    border: 1px solid #F0F0F0;
    color: #000;
    font-weight: 400;
    padding: 0 5px;
}
.spv-tabs-wrap a span {
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
}
.spv-tabs-wrap li.active a,
.spv-tabs-wrap li:hover a {
    background: #2A6FD8;
    border-color: #2A6FD8;
    color: #fff;
}
.spv-edittab-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 0 20px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.spv-edittab-box {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 10px 35px 0;
}
.spv-edittab-label {
    font-size: 26px;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 500;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
    max-width: 100%;
    margin-top: 15px;
}
.spv-edittab-box .form-group {
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 250px;
    display: block;
}
.spv-edittab-box .form-group.__ctrl {
    text-align: center;
}
.spv-edittab-box .form-group.__files input {
    display: none;
}
.spv-edittab-box .form-group.__files label {
    border: 1px solid #F0F0F0;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: static;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
    padding: 0 17px;
    color: rgba(0,0,0,0.5);
    font-size: 15px;
    margin: 0 auto;
}
.spv-edittab-box .form-group.__noicon input {
    padding: 0 15px;
}
.spv-edittab-box .form-group.__ctrl a {
    border: 1px solid #F37820;
    color: #F37820;
    background: transparent;
    display: block;
    padding: 13px 15px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 51px;
}
.spv-edittab-box input,
.spv-edittab-box textarea {
    border: 1px solid #F0F0F0;
    height: 45px;
    width: 100%;
    padding: 0 15px 0 45px;
    margin: 0 auto;
}
.spv-edittab-box textarea {
    height: 90px;
    resize: none;
    padding: 10px 20px 10px 45px;
}
.spv-edittab-box label {
    position: absolute;
    line-height: 45px;
    left: 0;
    top: 0;
    width: 45px;
    text-align: center;
}
.spv-addlot-box {
}
.spv-addlot-box .form-group {
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 250px;
    display: block;
}
.spv-addlot-box .form-group {
    position: relative;
    margin: 20px auto;
    width: 100%;
    max-width: 250px;
    display: block;
}
.spv-addlot-box .form-group.__width {
    max-width: 665px;
}
.spv-addlot-box .form-group.__ctrl {
    text-align: center;
}
.spv-addlot-box .form-group.__nomargin {
    margin: 0 auto;
}
.spv-addlot-box .form-group.__tar {
    text-align: right;
    line-height: 45px;
}
.spv-addlot-box .form-group.__checkbox label {
    display: inline-block;
    position: static;
    line-height: 1.4;
    width: auto;
    text-align: left;
}
.spv-addlot-box .form-group.__files input {
    display: none;
}
.spv-addlot-box .form-group input[type=checkbox] {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.spv-addlot-box .form-group.__files label {
    border: 1px solid #F0F0F0;
    line-height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: static;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
    padding: 0 17px;
    color: rgba(0,0,0,0.5);
    font-size: 15px;
    margin: 0 auto;
}
.spv-addlot-box .form-group.__noicon input {
    padding: 0 15px;
}
.spv-addlot-box .form-group.__ctrl a {
    border: 1px solid #F37820;
    color: #F37820;
    background: transparent;
    display: block;
    padding: 13px 15px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 51px;
}
.spv-addlot-box input,
.spv-addlot-box textarea {
    border: 1px solid #F0F0F0;
    height: 45px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.spv-addlot-box textarea {
    height: 90px;
    resize: none;
    padding: 10px 20px 10px 45px;
}
.spv-addlot-box label {
    position: absolute;
    line-height: 45px;
    left: 0;
    top: 0;
    width: 45px;
    text-align: center;
}
.bip-history-wrap {

}
.bip-history-wrap table {
    width: 100%;
    border: 1px solid #F0F0F0;
}
.bip-history-wrap tr {
    border-bottom: 1px solid #F0F0F0;
}
.bip-history-wrap th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background: #EAEAEA;
    text-align: center;
    height: 55px;
}
.gamepage-lots-table-moreinfo {
    display: none;
}
.gamepage-lots-table-moreinfo td {
    padding: 30px;
    background: #F4F4F4;
}

.faq-menu-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-bottom: 30px;
    margin-left: -15px;
}
.faq-menu-wrap ul {
    list-style: none;
    margin: 0;
    padding: 15px 0;
}
.faq-menu-wrap > ul > li {
    font-size: 17px;
    font-weight: 500;
    color: #2A6FD8;
    padding: 3px 0;
}
.faq-menu-wrap > ul > li i {
    transition: .3s;
}
.faq-menu-wrap > ul > li.__active i {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.faq-menu-wrap > ul > li > ul {
    padding-left: 35px;
    display: none;
}
.faq-menu-wrap > ul > li > ul > li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
}
.faq-menu-wrap > ul > li > ul > li a {
    color: #000;
}

.faq-text-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-bottom: 30px;
    margin-right: -30px;
    padding: 0 30px;
}
.faq-text-title {
    font-size: 22px;
    color: #2A6FD8;
    font-weight: 400;
    margin: 20px 0;
}
.faq-text-body {
}
.faq-text-body p {
    font-size: 16px;
    color: rgba(0,0,0,.6);
}

.gamepage-lots-saller-info {
    padding: 10px;
}
.gamepage-lots-saller-info:after {
    content: "";
    display: block;
    clear: both;
}
.gamepage-lots-saller-img {
    float: left;
    width: 45px;
}
.gamepage-lots-saller-text {
    margin-left: 55px;
    font-size: 14px;
    margin-top: 15px;
}
.gamepage-lots-saller-text strong {
    font-weight: 500;
}
.gamepage-lots-saller-text span {
    font-weight: 400;
}
.gamepage-lots-info {
    padding: 10px;
}
.gamepage-lots-info-title {
    font-size: 16px;
    font-weight: 500;
}
.gamepage-lots-info-box {

}
.gamepage-lots-info-box:after {
    content: "";
    display: block;
    clear: both;
}
.gamepage-lots-info-img {
    width: 105px;
    height: 80px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
}
.gamepage-lots-info-text {
    margin-left: 105px;
    padding-left: 15px;
    font-weight: 500;
}
.gamepage-lots-info-text span {
    margin-bottom: 5px;
    display: inline-block;
}
a.gamepage-lots-info-showmore,
a.gamepage-lots-info-showmore:hover {
    margin-top: 5px;
    color: #2A6FD8;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}
.gamepage-lots-delivery-box {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.gamepage-lots-value-box {
    text-align: center;
}
.gamepage-lots-setvalue-wrap {
    line-height: 33px;
    border: 1px solid #F0F0F0;
    display: inline-block;
    margin-bottom: 10px;
}
.gamepage-lots-setvalue {
    width: 30px;
    text-align: center;
    color: #F37820;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.gamepage-lots-setvalue-wrap input {
    width: 55px;
    height: 33px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border: none;
    border-left: 1px solid #F0F0F0;
    margin-left: -4px;
    border-right: 1px solid #F0F0F0;
}
.gamepage-lots-value-box small {
    font-size: 14px;
    color: rgba(0,0,0,.5);
    font-weight: 500;
}
.gamepage-lots-value-box strong {
    color: #2A6FD8;
    font-size: 16px;
    display: inline-block;
    font-weight: 300;
    margin-top: 10px;

}
.gamepage-lots-price-box {
    text-align: center;
}
.gamepage-lots-price-value {
    font-size: 20px;
    color: rgba(0,0,0,.8);
}
.gamepage-lots-price-value strong {
    color: #2A6FD8;
    font-size: 26px;
    font-weight: 500;
}
.gamepage-lots-price-box button {
    background: #F37820;
    border: none;
    text-align: center;
    width: 120px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.gp-games-wrap {
    margin-top: 15px;
    margin-right: -15px;
}
.gp-games-box {
    margin-bottom: 30px;
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
}
.gp-games-box:after {
    content: "";
    display: block;
    clear: both;
}
.gp-games-box-img {
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 140px;
    width: 230px;
    float: left;
}
.gp-games-box-name {
    line-height: 140px;
    float: left;
    width: calc(100% - (140px + 320px));
    padding: 0 30px;
}
.gp-games-box-name a {
    line-height: 1.4;
    font-size: 22px;
    color: #2A6FD8;
    font-weight: 500;
}
.gp-games-box-info {
    width: 230px;
    float: left;
    text-align: center;
    background: #2A6FD8;
    color: #fff;
    line-height: 140px;
}
.gp-games-box-info-inner {
    line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
}
.gp-games-box-info-inner span {
    color: #ffff;
    font-size: 22px;
    font-weight: 500;
}
.gp-games-box-info-inner .button {
    margin-top: 10px;
    width: auto;
    padding: 0 30px;
}
.bread-wrap {
    margin: 5px 0;
}
.bread-box {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bread-box li {
    display: inline-block;
    padding-right: 15px;
}
.bread-box li:after {
    content: ">";
    padding-left: 11px;
}
.bread-box li:last-child:after {
    content: "";
    display: none;
}
.bread-box a {
    color: rgba(0,0,0,.5);
    font-size: 14px;
}
.bread-box li:last-child a {
    color: rgba(0,0,0,1);
}

.bp-tagcloud-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-bottom: 15px;
    padding: 0 20px 10px;
}
.bp-tagcloud-wrap h3 {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-bottom: 15px;
}
.bp-tagcloud-box {
    margin: 0;
    margin-right: -10px;
    padding: 0;
    list-style: none;
}
.bp-tagcloud-box:after {
    content: "";
    display: block;
    clear: both;
}
.bp-tagcloud-box li {
    display: inline-block;
    background: #F37820;
    line-height: 2;
    color: #fff;
    font-size: 10px;
    padding: 0 10px;
    white-space: nowrap;
    margin: 0 10px 0 5px;
    position: relative;
    margin-bottom: 5px;
}
.bp-tagcloud-box li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7px 10px 0;
    border-color: transparent #f37820 transparent transparent;
}

.bp-blogtext-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-right: -30px;
    padding: 0 30px 15px;
    margin-bottom: 30px;
}
.bp-blogtext-title {
    color: #2A6FD8;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
}
.bp-blogtext-inner {
    font-size: 16px;
    font-weight: 400;
}
.bp-blogtext-inner p {
    color: rgba(0,0,0,.6);
    padding: 0;
    margin: 0;
}

.bp-blogpoint-wrap {
    margin-right: -30px;
}
.bp-blogpoint-box {
    margin-bottom: 30px;
}
.bp-blogpoint-img {
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 60%;
}
.bp-blogpoint-inner {
    padding: 0 30px;
}
.bp-blogpoint-inner-title {
    font-size: 22px;
    font-weight: 800;
    margin: 10px 0;
}
.bp-blogpoint-inner-date {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, .5);
}
.bp-blogpoint-inner-text {
    font-size: 16px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}
.bp-blogpoint-inner-tags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: -10px;
}
.bp-blogpoint-inner-tags li {
    margin-right: 10px;
    display: inline-block;
    color: #2A6FD8;
    font-weight: 600;
}
.bp-blogpoint-inner-tags li a {
    font-weight: 400;
    color: #2A6FD8;
}
.bpv-privacy-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 20px;
    margin-bottom: 30px;
}
.bpv-privacy-wrap p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.bpv-infoform-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-bottom: 15px;
    text-align: center;
}
.bpv-infoform-box {
    padding: 15px 0;
}
.bpv-infoform-avatar {
    width: 145px;
    display: inline-block;
}
.bpv-infoform-box input {
    border: 1px solid #F0F0F0;
    height: 40px;
    background: transparent;
    padding: 0 10px;
    font-size: 16px;
}
.bpv-infoform-box input[type=file] {
    display: none;
}

.bnp-blogtext-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    margin-right: -30px;
    padding: 0 30px 15px;
    margin-bottom: 30px;
}
.bnp-blogtext-title {
    color: #2A6FD8;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
}
.bnp-blogtext-date {
    font-size: 18px;
    color: rgba(0,0,0,.5);
    margin-bottom: 20px;
}
.bnp-blogtext-inner {
    font-size: 16px;
    font-weight: 400;
}
.bnp-blogtext-inner:after {
    content: "";
    display: block;
    clear: both;
}
.bnp-blogtext-inner img {
    float: left;
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 15px;
}
.bnp-blogtext-inner p {
    color: rgba(0,0,0,.6);
    padding: 0;
    margin: 0;
}
.bnp-blogpoint-inner-tags {
    list-style: none;
    margin: 15px 0;
    padding: 0;
    margin-right: -10px;
}
.bnp-blogpoint-inner-tags li {
    margin-right: 10px;
    font-size: 16px;
    display: inline-block;
    color: #2A6FD8;
    font-weight: 600;
}
.bnp-blogpoint-inner-tags li a {
    font-weight: 400;
    color: #2A6FD8;
}

.sp-salerinfo-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 20px;
}
.sp-salerinfo-top-box {

}
.sp-salerinfo-top-box:after {
    content: "";
    display: block;
    clear: both;
}
.sp-salerinfo-top-avatar {
    float: left;
    width: 50%;
    padding-right: 20px;

}
.sp-salerinfo-top-info {
    float: left;
    width: 50%;
}
.sp-salerinfo-top-info strong {
    font-size: 18px;
}
.sp-salerinfo-top-info span.__alert {
    color: #ff1717;
}
.sp-buyerinfo-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 20px;
}
.sp-buyerinfo-top-box {

}
.sp-buyerinfo-top-box:after {
    content: "";
    display: block;
    clear: both;
}
.sp-buyerinfo-top-avatar {
    float: left;
    width: 50%;
    padding-right: 20px;

}
.sp-buyerinfo-top-info {
    float: left;
    width: 50%;
    padding-top: 10%;
}
.sp-buyerinfo-top-info strong {
    font-size: 18px;
}
.sp-buyerinfo-top-info span.__alert {
    color: #ff1717;
}
.sp-buyerinfo-bottom-info {
    text-align: center;
    margin-top: 20px;
}
.bip-favstore-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 20px;
    position: relative;
}
.bip-favstore-point {
    margin-bottom: 25px;
}
.bip-favstore-point .delete-item {
    position: absolute;
    top: 10px;
    right: 20px;
}
.bip-favstore-top-box {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 20px;
}
.bip-favstore-top-box:after {
    content: "";
    display: block;
    clear: both;
}
.bip-favstore-top-avatar {
    float: left;
    width: 100px;
    padding-right: 20px;
}
.bip-favstore-top-info {
    float: left;
    width: calc(100% - 100px);
    padding-top: 24px;
}
.bip-favstore-top-info strong {
    font-size: 18px;
}
.bip-favstore-top-info span.__alert {
    color: #ff1717;
}
.bip-favstore-bottom-info {
    text-align: center;
    margin-top: 20px;
}
.sp-review-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 30px;
}

.sp-finans-wrap {

}
.sp-finans-tablewrap {
    width: 100%;
    overflow-y: auto;
}
.sp-finans-tablebox {
    min-width: 500px;
}
.sp-finans-tablebox table {
    width: 100%;
    text-align: center;
}
.sp-finans-tablebox th {
    background: #F5F5F5;
    font-size: 16px;
    height: 55px;
    border: 1px solid #F0F0F0;
    text-align: center;
}
.sp-finans-tablebox td {
    border: 1px solid #F0F0F0;
    font-size: 14px;
    font-weight: 500;
    font-weight: 500;
    height: 55px;
    border: 1px solid #F0F0F0;
    width: 25%;
}

.spv-service-wrap {
    background: #FBFAFA;
    border: 1px solid #F0F0F0;
    padding: 20px 40px;
}
.spv-service-title {
    font-size: 20px;
    color: #2A6FD8;
    font-weight: 500;
    margin-bottom: 10px;
}
.spv-service-info {
    margin-bottom: 20px;
}
.spv-service-info p {
    padding: 0;
    margin: 0;
}
.spv-service-ctrl {
    position: relative;

}
.spv-service-ctrl .form-group {
    margin-right: 30px;
}
.spv-service-ctrl input {
    width: 225px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #F0F0F0;

}
.spv-service-ctrl input[type=checkbox] {
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.spv-service-ctrl .gamepage-lots-setvalue-wrap input {
    width: 40px;
}
.spv-service-price {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    color: #2A6FD8;
}

.pagination-wrap {
    text-align: center;
    margin: 10px 0;
}
.pagination-wrap ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
    list-style: none;
}
.pagination-wrap li {
    display: inline-block;
}
.pagination-wrap li a {
    color: rgba(0,0,0,.5);
    padding: 0 10px;
    min-width: 30px;
    vertical-align: middle;
    display: inline-block;
}
.pagination-wrap li a.active {
    color: rgba(0,0,0,1);
}
.pagination-wrap li a:hover {
    color: #fff;
    background: #2A6FD8;
    text-decoration: none;
}
.pagination-wrap li:first-child a:hover,
.pagination-wrap li:last-child a:hover {
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
}

.oa-wrap {
    padding: 60px 0;
    text-align: center;
}
.oa-wrap h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
.oa-wrap h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}
.oa-wrap p {
    font-size: 12px;
    color: rgba(0,0,0,.5);
    margin-bottom: 30px;
}
.oa-wrap a {
    color: #2A6FD8;
    text-decoration: none;
    font-size: 12px;
}

footer {
    background: #171A21;
    color: #171A21;
}
.footer-link-wrap {
    border-bottom: 1px solid rgba(255,255,255,.6);
    text-align: center;
}
.footer-link-box {
    padding: 10px 0;
}
.footer-link-item {
    width: 140px;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    padding: 5px 0px;
    margin: 0 40px;
    text-transform: uppercase;
}
.footer-link-item:first-of-type {
    margin-left: 0px;
}
.footer-link-item:last-of-type {
    margin-right: 0px;
}
.footer-menu-wrap {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,.6);
}
.footer-menu-wrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;
}
.footer-menu-wrap li {
    line-height: 28px;
}
.footer-menu-wrap li a {
    color: #fff;
    line-height: 1.4;
    display: inline-block;
}
.footer-menu-wrap li:first-of-type {
    line-height: 70px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
}
.footer-menu-wrap li:fisrt-of-type a {
}
.footer-copy-wrap {
    padding: 10px 0;
    text-align: center;
}
.footer-copy-point {
    border-right: 1px solid #fff;
    display: inline-block;
    line-height: 1.8;
    color: #fff;
    font-size: 12px;
    padding: 0 30px;
}
.footer-copy-point:first-of-type {
    padding-left: 0;
}
.footer-copy-point:last-of-type {
    border-right: none;
    padding-right: 0;
}

.registration-form-wrap {
    width: 585px;
    max-width: 100%;
    padding: 15px 60px;
    margin: 30px auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.18);
    text-align: center;
}
.reg-page-title {
    margin: 5px 0 20px;
}
.reg-page-title h2 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
}
.reg-page-tab {
    margin-bottom: 30px;
}
.reg-page-tab p {
    color: rgba(0,0,0,.5);
    font-size: 12px;
}
.reg-page-tab-item {
    width: calc(50% - 17px);
    margin: 0 15px;
    display: inline-block;
    line-height: 48px;
    border: 1px solid #2A6FD8;
    color: #2A6FD8;
    font-size: 16px;
}
.reg-page-tab-item.active {
    background: #2A6FD8;
    color: #fff;
}
.reg-page-tab-item:first-of-type {
    margin-left: 0;
}
.reg-page-tab-item:last-of-type {
    margin-right: 0;
}
.reg-page-form {
    max-width: 275px;
    padding: 0;
    margin: 0 auto;
}
.reg-page-form input {
    height: 35px;
    background: transparent;
    border: 1px solid #F0F0F0;
    padding: 0 10px;
    width: 100%;
}
.reg-page-form input[type=submit] {
    width: 100%;
    background: #F36F31;
    margin: 30px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    height: 55px;
}
.reg-page-form input[type=submit]:hover {
    text-decoration: underline;
}
.dark-inputs input{
    color: #b0b0b0;
    background: #e5e5e5;
}
.reg-page-terms {
    max-width: 330px;
    margin: 0 auto;
    font-size: 12px;
    color: #ADADAD;
}

/*  */
.modal-dialog.__width {
    max-width: 712px;
}
.modal-content {
    border-radius: 0;
    box-shadow: 0;
}
.__width .modal-content {
    padding: 0 15px;
}
.modal-header {
    border-bottom: none;
}
.modal-title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
}
.modal-body {

}
.modal-form {
    width: 100%;
    max-width: 225px;
    margin: 0 auto;
}
.modal-form input,
.modal-form textarea {
    width: 100%;
    background: transparent;
    border: 1px solid #F0F0F0;
}
.modal-form input {
    height: 35px;
    padding: 8px;
}
.modal-form textarea {
    font-size: 12px;
    padding: 8px;
    height: 120px;
    resize: none;
}
.modal-form button.button {
    width: 100%;
}
.modal-form .__files input {
    display: none;
}
.modal-form .__files label {
    line-height: 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #728CDE;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.modal-form .form-group.__checkbox label {
    display: inline-block;
    position: static;
    line-height: 1.4;
    max-width: calc(100% - 30px);
    width: auto;
    text-align: left;
    vertical-align: top;
    vertical-align: top;
}
.modal-form .form-group.__checkbox strong {
    font-size: 20px;
    color: #F36F31;
    font-weight: 500;
}
.modal-form .form-group.__tac label {
    text-align: center;
}
.modal-form .form-group.__files input {
    display: none;
}
.modal-form .form-group input[type=checkbox] {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.modal-footer {
    border-top: none;
}

.chat-box-wrap {
    border: 1px solid #F0F0F0;
    background: #FBFAFA;
    padding: 20px;
    margin-bottom: 30px;
}
.chat-mes-box {
    margin-bottom: 20px;
}
.chat-mes-avatar {
    width: 60px;
    float: left;
}
.chat-mes-inner {
    margin-left: 70px;
    width: calc(100% - 70px);
}
.chat-mes-username {
    margin-bottom: 10px;
}
.chat-mes-username a {
    font-size: 16px;
    color: #2A6FD8;

}
.chat-mes-text {
    color: rgba(0,0,0,.7);
}
.chat-mes-time {
    float: right;
}
.chat-send-wrap {
    margin-bottom: 20px;
}
.chat-send-wrap textarea {
    border: 1px solid #F0F0F0;
    background: #FBFAFA;
    padding: 13px 20px;
    font-size: 14px;
    color: rgba(0,0,0,.7);
    height: 90px;
    width: 100%;
    resize: none;
}
.chat-ctrl-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.chat-ctrl-wrap a.button,
.chat-ctrl-wrap button.button {
    width: auto;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
}

form .no-required {
    position: relative;
}
form .no-required .form-group-reqbox {
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 15px;
    border: 2px solid #E57544;
    color: #E57544;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    right: -33px;
}
.gamepage-lots-value-box,
.gamepage-lots-value-box *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}
.disabled{
    opacity: 0.4;
}

#shopping-cart-modal .remove-item-container{
    position: relative;
}

#shopping-cart-modal .remove-item-container a{
    position: absolute;
    right: -20px;
    top: 40%;
    color: red;
}
#shopping-cart-modal .payment-systems-list{

}
#shopping-cart-modal .payment-systems-list .payment-options .form-group,
#shopping-cart-modal .payment-systems-list .payment-options{
    display: inline-block;
    margin: 0 10px 5px 10px;
}
#shopping-cart-modal .total-price{
    font-size: 1.4em;
    width: 96%;
    margin: 20px 0;
}
#shopping-cart-modal .total-price .text{
    text-transform: uppercase;
    color:#C2601A;
}