.jstree-node,
.jstree-node a{
    font-size: 1.05em;
    cursor: default;
}
.jstree-proton .jstree-anchor.jstree-clicked,
.jstree-proton .jstree-hovered{
    color: #555!important; 
    background: #eee!important; 
}
.jstree-node .fa,
.jstree-node .glyphicon{
    cursor: pointer;
}
body > .wrap{
    min-height: 600px;
}
.jstree-proton .jstree-disabled:hover,
.jstree-proton .jstree-disabled:hover *,
.jstree-proton .jstree-disabled *,
.jstree-proton .jstree-disabled {
    background: 0 0!important;
    color: #A9A9A9!important;
}
.jstree-proton .jstree-disabled .jstree-checkbox{
    display: none;
}
.jstree-proton .model-t-buttons.btn-group{
    margin: -4px 5px 0 5px;
}
.jstree-proton .model-t-buttons.btn-group .fa,
.jstree-proton .model-t-buttons.btn-group .btn{
    color: #fff;
    cursor: pointer;
}
.jstree-proton .model-t-buttons.btn-group .btn{
    font-size: 0.75em;
}
.jstree-proton .categories-url-link{
    margin: 0 10px;
    font-size: 0.8em;

}