@import "functions";
.chat-widget{
    display: inline-block;
    margin-top: 15px;
    .default{
        .fa.fa-wechat{
            color: #fff!important;
            font-size: 2.3em;
        }
    }
}