/*error*/
/*success*/
/*info*/
/*warning*/
/*default*/
/*@default-color-active: #bf7f00!important;*/
/*@default-border-color: #dddddd !important;*/
.w10 {
  width: 10%!important;
}
.w20 {
  width: 20%!important;
}
.w30 {
  width: 30%!important;
}
.w40 {
  width: 40%!important;
}
.w50 {
  width: 50%!important;
}
.w60 {
  width: 60%!important;
}
.w70 {
  width: 70%!important;
}
.w80 {
  width: 80%!important;
}
.w90 {
  width: 90%!important;
}
.w100 {
  width: 100%!important;
}
.fs-1 {
  font-size: 1em!important;
}
.fs-2 {
  font-size: 2em!important;
}
.fs-3 {
  font-size: 3em!important;
}
.fs-4 {
  font-size: 4em!important;
}
.fs-5 {
  font-size: 5em!important;
}
.fs-6 {
  font-size: 6em!important;
}
.fs-7 {
  font-size: 7em!important;
}
.fs-8 {
  font-size: 8em!important;
}
.fs-9 {
  font-size: 9em!important;
}
.fs-10 {
  font-size: 10em!important;
}
.block {
  display: block;
}
.text-danger {
  color: #a94442!important;
}
.text-success {
  color: #3c763d!important;
}
.text-warning {
  color: #8a6d3b!important;
}
.text-info {
  color: #31708f!important;
}
.text-white {
  color: #fff!important;
}
.text-black {
  color: #333!important;
}
.text-muted {
  color: #807f82!important;
}
.text-xs {
  font-size: 0.5em!important;
}
.text-sm {
  font-size: 0.7em!important;
}
.text-md {
  font-size: 1em!important;
}
.text-lg {
  font-size: 3em!important;
}
.text-xl {
  font-size: 6em!important;
}
.blolck-center {
  margin: 0 auto;
}
.bold {
  font-weight: bold!important;
}
.pr {
  position: relative!important;
}
.alert-muted {
  border: 1px solid #cac9c9!important;
  background: #fdfdfd!important;
}
.alert-default {
  border: 1px solid #e8e8e8!important;
  background: transparent!important;
}
.pa {
  position: absolute!important;
}
.pf {
  position: fixed!important;
}
.a,
a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.a:hover,
a:hover {
  color: #23527c;
}
*:focus {
  outline: none!important;
}
body.modal-open {
  overflow: auto!important;
  padding: 0!important;
}
.notify-message-container {
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 15px 0;
  border-bottom: 1px solid #CACACA;
  border-left: none;
  border-right: none;
}
.notify-message-container .mes-timeout-progress {
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin: -16px auto 15px auto;
  height: 2px;
  border: none;
}
.notify-message-container .text {
  padding: 0 15px;
  display: block;
  color: inherit!important;
}
/*modal*/
.bootbox.modal {
  z-index: 1052;
}
.bootbox.modal .modal-body {
  background: #fff;
}
.bootbox.modal .modal-footer {
  padding: 10px;
}
.bootbox.modal .modal-footer .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.modal-dialog {
  margin-top: 65px;
}
.modal-dialog h1,
.modal-dialog h2,
.modal-dialog h3,
.modal-dialog h4 {
  font-size: 1.3em;
  margin: 0;
  line-height: 1.42857143;
}
.modal-content {
  -webkit-appearance: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: .2;
  background: #000;
}
/*modal end*/
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0!important;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
/*form*/
.has-success .form-control {
  border-color: #7CE67D;
}
.has-error .form-control {
  border-color: #FFC8C7;
}
.jFiler-info-container._single {
  position: relative;
  cursor: pointer;
  width: 100%;
  color: #eee!important;
}
.jFiler-info-container._single .fiInputInfoIndicator:visited,
.jFiler-info-container._single .fiInputInfoIndicator:active,
.jFiler-info-container._single .fiInputInfoIndicator:focus,
.jFiler-info-container._single .fiInputInfoIndicator:hover,
.jFiler-info-container._single .fiInputInfoIndicator {
  position: absolute;
  bottom: 0;
  background: transparent!important;
  border: transparent!important;
  text-align: center;
}
.jFiler-info-container._single .fiInputInfoBrowseButton {
  display: block;
  padding: 35% 0;
  max-height: 457px;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-position: 50%;
  border: 1px solid #444;
  font-size: 1em;
  -webkit-border-top-left-radius: 0!important;
  -webkit-border-bottom-left-radius: 0!important;
  -moz-border-radius-topleft: 0!important;
  -moz-border-radius-bottomleft: 0!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.jFiler-info-container._single .fiInputInfoBrowseButton img {
  border: none!important;
}
.jFiler-info-container._single .fiInputInfoBrowseButton .uploader-browse-text .fa,
.jFiler-info-container._single .fiInputInfoBrowseButton .uploader-browse-text {
  color: #fff!important;
  padding: 4% 2%;
}
.jFiler-info-container._single .fiInputInfoBrowseButton .uploader-browse-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff!important;
  /*visibility: hidden;*/
}
.jFiler-info-container._single .fiInputInfoBrowseButton:hover .uploader-browse-text .fa,
.jFiler-info-container._single .fiInputInfoBrowseButton:hover .uploader-browse-text {
  visibility: visible;
  color: #fff!important;
}
.jFiler-info-container._single .fiInputInfoBrowseButton.fa:before {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 8em;
}
.test-pjax-status {
  font-size: 2.2em;
  z-index: 1055;
  position: fixed;
  top: 0;
  right: 5px;
  top: 5px;
  font-weight: bolder!important;
}
.js-pjax-loading-progress {
  margin: 0;
  height: 7px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  width: 100%;
}
/*uploader style*/
.uploader-widget-container.multiple .extensions-list,
.uploader-widget-container.single .extensions-list {
  font-size: 0.4em;
}
.uploader-widget-container.multiple .fi-thumb,
.uploader-widget-container.single .fi-thumb {
  position: relative;
  border-top: 1px !important;
  border-left: 1px !important;
  border-right: 1px !important;
  border-style: solid!important;
  border-color: #d1d1d1 !important;
  border-bottom: 1px solid #d1d1d1 !important;
  background: #FDFDFD !important;
  text-align: center;
}
.uploader-widget-container.multiple .fi-thumb .uploader-trash-action,
.uploader-widget-container.single .fi-thumb .uploader-trash-action {
  position: absolute;
  text-decoration: none!important;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  border-color: transparent!important;
}
.uploader-widget-container.multiple .fi-thumb:hover .uploader-trash-action,
.uploader-widget-container.single .fi-thumb:hover .uploader-trash-action {
  opacity: 1;
}
.uploader-widget-container.multiple .fi-thumb img,
.uploader-widget-container.single .fi-thumb img {
  /*height: 200px;*/
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}
.uploader-widget-container.multiple .browse,
.uploader-widget-container.single .browse {
  background: #FDFDFD !important;
  border: 1px dashed #d1d1d1 !important;
  color: #232323 !important;
  cursor: pointer;
  height: 200px;
  text-align: center;
  font-size: 2em;
  padding-top: 1.5em;
  text-transform: uppercase;
}
.uploader-widget-container.multiple .fi-thumb,
.uploader-widget-container.single .fi-thumb {
  position: relative;
}
.uploader-widget-container.multiple .progress-bar,
.uploader-widget-container.single .progress-bar {
  top: 0;
  opacity: 0.5;
  min-height: 2px;
  position: absolute;
}
/*uploader style end*/
