@import "functions";
/*error*/
@error-color: #6d0200 !important;
@error-color-hover: #C30C08!important;
@error-color-active: #C30C08!important;
@error-background-color: #ffd0d0 !important;
@error-background-color-hover: #FDFDFD!important;
@error-background-color-active: #FFFBFB!important;
@error-border-color: #c50023 !important;
@error-border-color-hover: #FF98AA !important;
@error-border-color-active: #FF98AA !important;
/*success*/
@success-color: #3c763d!important;
@success-color-hover: #3c763d!important;
@success-color-active: #3c763d!important;
@success-background-color: #dbffd2!important;
@success-background-color-hover: #FDFDFD!important;
@success-background-color-active: #FBFFFA!important;
@success-border-color: #5a8a2e !important;
@success-border-color-hover: #B1DA8C!important;
@success-border-color-active: #B1DA8C!important;
/*info*/
@info-color: #1f559c !important;
@info-color-hover: #278FC1!important;
@info-color-active: #278FC1!important;
@info-background-color: #FCFEFF!important;
@info-background-color-hover: #FDFDFD!important;
@info-background-color-active: #FCFEFF!important;
@info-border-color: #4BBBF3 !important;
@info-border-color-hover: #4BBBF3 !important;
@info-border-color-active: #4BBBF3 !important;
/*warning*/
@warning-color: #AB7E00 !important;
@warning-color-hover: #AB7E00 !important;
@warning-color-active: #AB7E00 !important;
@warning-background-color: #FFFEFA!important;
@warning-background-color-hover: #FDFDFD!important;
@warning-background-color-active: #FFFEFA!important;
@warning-border-color: #e2a700!important;
@warning-border-color-hovre: #e2a700!important;
@warning-border-color-active: #e2a700!important;
/*default*/

@default-color:#232323!important;
@default-color-hover:#000!important;
/*@default-color-active: #bf7f00!important;*/
@default-color-active: #00a4a7 !important;
@default-background-color: #fff!important;
@default-background-color-hover: @warning-background-color-hover;
@default-background-color-active: @info-background-color-active;
/*@default-border-color: #dddddd !important;*/
@default-border-color: #d1d1d1 !important;
@default-border-color-hover: #BDBDBD !important;
@default-border-color-active: @default-color-active;
@default-border-width: 1px!important;
@default-border-radius: 0px;

.w10{width: 10%!important;}
.w20{width: 20%!important;}
.w30{width: 30%!important;}
.w40{width: 40%!important;}
.w50{width: 50%!important;}
.w60{width: 60%!important;}
.w70{width: 70%!important;}
.w80{width: 80%!important;}
.w90{width: 90%!important;}
.w100{width: 100%!important;}
.fs-1{font-size: 1em!important;}
.fs-2{font-size: 2em!important;}
.fs-3{font-size: 3em!important;}
.fs-4{font-size: 4em!important;}
.fs-5{font-size: 5em!important;}
.fs-6{font-size: 6em!important;}
.fs-7{font-size: 7em!important;}
.fs-8{font-size: 8em!important;}
.fs-9{font-size: 9em!important;}
.fs-10{font-size: 10em!important;}
.block{display: block;}
.text-danger{color: #a94442!important;}
.text-success{color: #3c763d!important;}
.text-warning{color: #8a6d3b!important;}
.text-info{color: #31708f!important;}
.text-white{color: #fff!important;}
.text-black{color: #333!important;}
.text-muted{color: #807f82!important;}
.text-xs{font-size: 0.5em!important;}
.text-sm{font-size: 0.7em!important;}
.text-md{font-size: 1em!important;}
.text-lg{font-size: 3em!important;}
.text-xl{font-size: 6em!important;}
.blolck-center{margin:0 auto;}
.bold{font-weight: bold!important;}
.pr{position: relative!important;}
.alert-muted{border: 1px solid #cac9c9!important;background: #fdfdfd!important;}
.alert-default{border: 1px solid #e8e8e8!important;background: transparent!important;}
.pa{position: absolute!important;}
.pf{position: fixed!important;}
.a,a{color: #337ab7;text-decoration: none;cursor: pointer;}
.a:hover,a:hover{color: #23527c;}
*:focus{outline: none!important;}
body{
    &.modal-open{
        overflow: auto!important;
        padding: 0!important;
    }
}
.notify-message-container{
    .border-radius(0);
    padding: 15px 0;
    border-bottom: 1px solid #CACACA;
    border-left: none;
    border-right: none;
    .mes-timeout-progress{
        .border-radius(0);
        margin: -16px auto 15px auto;
        height: 2px;
        border:none;
    }
    .text{
        padding: 0 15px;
        display: block;
        color: inherit!important;
    }
}
/*modal*/
.bootbox.modal {
    z-index: 1052;
    .modal-body{
        background: #fff;
    }
    .modal-footer{
        padding: 10px;
        .btn{
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
        }
    }
}
.modal-dialog{
    h1,h2,h3,h4{
        font-size: 1.3em;
        margin: 0;
        line-height: 1.42857143;
    }
    margin-top: 65px;
}
.modal-content{
    .border-radius(0);
}
.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2;
    background: #000;
}
/*modal end*/


.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0!important;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
/*form*/
.has-success .form-control {
    border-color: #7CE67D;
}
.has-error .form-control {
    border-color: #FFC8C7;
}

.jFiler-info-container._single{
    position:relative;
    cursor: pointer;
    width: 100%;
    color:#eee!important;

    .fiInputInfoIndicator:visited,
        .fiInputInfoIndicator:active,
        .fiInputInfoIndicator:focus,
        .fiInputInfoIndicator:hover,
        .fiInputInfoIndicator{
        position: absolute;
        bottom: 0;
        background:transparent!important;
        border:transparent!important;
        text-align: center;
    }

    .fiInputInfoBrowseButton{
        display: block;
        padding: 35% 0;
        max-height: 457px;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        background-position: 50%;
        border:1px solid #444;
        font-size:1em;
        -webkit-border-top-left-radius: 0!important;
        -webkit-border-bottom-left-radius: 0!important;
        -moz-border-radius-topleft: 0!important;
        -moz-border-radius-bottomleft: 0!important;
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        img{
            border:none!important;
        }
        .uploader-browse-text .fa,
        .uploader-browse-text{
            color: #fff!important;
            padding: 4% 2%;
        }
        .uploader-browse-text{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(0,0,0,0.8);
            color: #fff!important;
            /*visibility: hidden;*/
        }
        &:hover{
            .uploader-browse-text .fa,
            .uploader-browse-text{
                visibility: visible;
                color: #fff!important;
            }
        }
        &.fa:before{
            position: absolute;
            top: 25%;
            text-align: center;
            width: 100%;
            left: 0;
            font-size: 8em;
        }
    }
}
.test-pjax-status {
    font-size: 2.2em;
    z-index: 1055;
    position: fixed;
    top: 0;
    right: 5px;
    top: 5px;
    font-weight: bolder!important;
}
.js-pjax-loading-progress{
    margin: 0;
    height: 7px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    width: 100%;
}

/*uploader style*/
.uploader-widget-container{
    &.multiple,
    &.single{
        .extensions-list{
            font-size: 0.4em;
        }
        .fi-thumb{
            position: relative;
            border-top: @default-border-width;
            border-left: @default-border-width;
            border-right: @default-border-width;
            border-style: solid!important;
            border-color: @default-border-color;
            border-bottom: @default-border-width solid @default-border-color;
            .uploader-trash-action{
                position: absolute;
                text-decoration: none!important;
                bottom: 0;
                left: 0;
                opacity: 0.1;
                border-color: transparent!important;
            }
            &:hover .uploader-trash-action{
                opacity: 1;
            }
            background: @default-background-color-hover;
            text-align: center;
            img{
                display: inline-block;
                /*height: 200px;*/
                margin: 0 auto;
                display: inline-block;
                width: 100%;
            }
        }
        .browse{
            background: @default-background-color-hover;
            border: @default-border-width dashed @default-border-color;
            color: @default-color;
            cursor: pointer;
            height: 200px;
            text-align: center;
            font-size: 2em;
            padding-top: 1.5em;
            text-transform: uppercase;
        }
        .fi-thumb{
            position: relative;
        }
        .progress-bar{
            top: 0;
            opacity: 0.5;
            min-height: 2px;
            position: absolute;
        }
    }
}
/*uploader style end*/